.react-pdf__Page__canvas {
    margin: auto;
    width: auto!important;
    max-width: 1120px !important;
    margin-bottom: 10px;
}

.pdfView_Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.pdfView_DocumentLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.pdfView_Error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: white;
}

@media print {
    .react-pdf__Page__canvas {
        /*background: white;*/
        /*display: block;*/
        /*margin: 0;*/
        /*margin: auto;*/
        margin: 0 auto;
        /*!*margin-bottom: 0.5cm;*!*/
        /*!*box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*!*/
        /*width: 21cm !important;*/
        /*height: 29.7cm !important;*/
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
