/*exam plan design start */
.questionpaper__para {
    color: #636363;
    font-size: 0.875em;
}
.questionpaper__item {
	position: relative;
	width: 100%;
    display: inline-block; 
    border-radius: 2px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.questionpaper__body .questionpaper__item:first-child {
    border-top: 1px solid #ccc;
}
.questionpaper__radio {
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	color: #000;
}

.questionpaper__label {
	background: #fff;
	color: #000;
	font-size: 14px;
	width: 100%;
	padding: 15px 16px;
    border-left: 3px solid transparent;
	text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 0;
}
.questionpaper__radio:checked  + .questionpaper__label {
	background-color: #f6fcfc;
	color: #000;
    border-left: 3px solid #57b3a6;
}
.questionpaper__radio:checked  + .questionpaper__label:after {
	font-family: "Material Icons";
	content: "\e876";
	position: absolute;
	right: 10px;
	top: 30%;
	color: #57b3a6;
	font-size: 25px;
}
.questionpaper__labelsub {
	color: #636363;
    font-size: 0.875em;
}
.questionpaper__labeldate {
	padding: 5px 15px;
	border-radius: 33px;
	background: #e6f3f6;
	color: #000;
}
/*button css start*/
.button {
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border-radius: 2px;
	padding: 0 17px;
	cursor: pointer;
}
.button--small {
    font-size: 0.875em;
    font-weight: 600;
}
.button--large {
    font-size: 1em;
}
.button--primary {
    background: #3b7a9c;
    color: #fff;
    border: 1px solid #3b7a9c;
    line-height: 36px;
}
.button--grey {
    background: #eaeaea;
    color: #000;
    border: 1px solid #c8c8c8;
    line-height: 36px;
}
/*button css end*/

/*exam plan design end */
