/* Marks Entry Table Css Start */
.markname__table th, .mark__table th, .gradescore__table th, .marksum__name th {
    padding: 0.75rem;
}

.markname__table td, .mark__table td, .gradescore__table td, .marksum__name td {
    height: 65px;
    padding: 0 0.75rem;
}

#mark__container .table {
    margin-bottom: 0;
}

#mark__container .table thead th, #mark__container .table tbody td {
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
}

.markname__table thead th, .markname__table tbody td, .gradescore__table thead th, .gradescore__table tbody td {
    background-color: #ffffff;
}

.markname__table th:first-child {
    width: 300px;
}

.markname__table .markname__table--exam {
    background-color: #fefef8;
}

.arrow__sort {
    float: right;
    line-height: 0.7;
    cursor: pointer;
    color: #bfbfbf;
}

#mark__container .roll__call {
    width: 65px;
}

#mark__container .roll__no {
    width: 65px;
    line-height: 2.3;
    font-weight: normal;
}

#mark__container h6 {
    margin-bottom: 0px;
    font-size: 0.875em;
    font-weight: 600;
}

.student__content .student__content--avatar {
    margin: 0 5px 0 0px;
}

.student__content .student__content--name {
    font-weight: normal;
    display: inline-block;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2;
}

.student__content .student__contentck--name {
    font-weight: normal;
    display: inline-block;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2;
}
.student__report__table .form-control {
    width: auto;
}
#mark__container .form-control {
    width: 50px;
    margin: 0 auto;
    font-size: 0.875em;
    padding: 7px 5px;
    border-radius: 0;
    text-align: right;

}

#mark__container .form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}

.markentry__table {
    overflow-x: auto;
}

.markentry__table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.markentry__table::-webkit-scrollbar {
    height: 10px;
    background-color: #F5F5F5;
}

.markentry__table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #555;
}

.mark__table th, .mark__table td {
    background-color: #f8fbfc;
}

.gradescore__table td .gradescore__table--score {
    padding: 10.5px 0px 10.5px 10.5px;
}

.gradescore__table td .gradescore__table--grade {
    padding: 10.5px;
}

.gradescore__table td .gradescore__table--update {
    font-weight: normal !important;
    padding: 10.5px;
    text-decoration: underline;
}

.gradescore__table td .gradescore__table--update:hover {
    color: #007fa3;
    text-decoration: underline;
}

#mark__container .form-control.bg__warning:focus {
    border: 1px solid #f00;
}

.marksum__name th:nth-child(2) {
    width: 300px;
}

.marksum__name .markname__table--exam {
    background-color: #fefef8;
}

.marksum__name--exam label {
    margin: 0;
    display: block;
    line-height: 1;
}

.marksum__table {
    display: none;
}

.gradescore__table--update {
    color: #007fa3;
}

.checkbox__table {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox__table input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark__table {
    position: absolute;
    top: -8px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}

.checkbox__table input:checked ~ .checkmark__table:after {
    display: block;
}

.checkbox__table .checkmark__table:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark__table:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox__table input:checked ~ .checkmark__table {
    background-color: #12b2a6;
    border-color: #12b2a6;
    border-radius: 3px;
}

.student__contenttooltiphover--name {
    text-align: left;
    transform: translate(0, 0);
    padding: 10px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
    white-space: normal;
    border-radius: 5px;
    left: 55px;
    top: 88px;
}

.student__contenttooltiphover--name i {
    position: absolute;
    bottom: 100%;
    left: 40%;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.student__contenttooltiphover--name i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.student__contenttooltiphoverprg {
    font-size: 0.875em;
    font-weight: 600;
}

.student__content--name:hover .student__contenttooltiphover--name {
    display: block;
}

.bg__warning {
    border: 1px solid #f00;
}

.bg__warninginp:hover .bg__warning--hover{
    display: block;
}

.bg__warning--hover {
    text-align: left;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 2px 8px;
    position: absolute;
    box-sizing: border-box;
    display: none;
    left: 8px;
    top: 100px;
    z-index: 999;
    background: #FEEEF0;
    border: 1px solid #EFC0C0;
    box-shadow: 0 3px 4px 0 rgba(0,0,0, 0.10);
    border-radius: 2px;
    font-size: 0.75em;
    font-weight: 600;
    color: #f00;
    width: auto;
    white-space: nowrap;
}

.bg__warning--hover i {
    position: absolute;
    bottom: 100%;
    left: 53px;
    width: 27px;
    height: 12px;
    overflow: hidden;
    border: 1px;
}
.bg__warning--hover i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #feeef0;
    box-shadow: 0px 0px 5px rgb(239, 192, 192);
    border: 1px solid #EFC0C0;
}
.bg__warning--prg {
    font-size: 0.75em;
    font-weight: 600;
    color: #f00;
    width: auto;
    white-space: nowrap;
}

.bg__warninginp:hover .bg__warning--hover{
    display: block;
}

.bg__warning--hover {
    text-align: left;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 2px 8px;
    position: absolute;
    box-sizing: border-box;
    display: none;
    left: 8px;
    top: 100px;
    z-index: 999;
    background: #FEEEF0;
    border: 1px solid #EFC0C0;
    box-shadow: 0 3px 4px 0 rgba(0,0,0, 0.10);
    border-radius: 2px;
    font-size: 0.75em;
    font-weight: 600;
    color: #f00;
    width: auto;
    white-space: nowrap;
}

.bg__warning--hover i {
    position: absolute;
    bottom: 100%;
    left: 53px;
    width: 27px;
    height: 12px;
    overflow: hidden;
    border: 1px;
}
.bg__warning--hover i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #feeef0;
    box-shadow: 0px 0px 5px rgb(239, 192, 192);
    border: 1px solid #EFC0C0;
}
.bg__warning--prg {
    font-size: 0.75em;
    font-weight: 600;
    color: #f00;
    width: auto;
    white-space: nowrap;
}
/* Grid Component */
.tablearrow__sort {
    line-height: 0.7;
    cursor: pointer;
    color: #bfbfbf;
    vertical-align: middle;
}
.tablemarksum__name--exam th:first-child {
    width: 0;
}
.student__contentdetails{
    display: inline-block;
}
.student__contenttooltiphover--name {
    text-align: left;
    transform: translate(0, 0);
    padding: 10px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    white-space: normal;
    border-radius: 5px;
    left: 104px;
    top: 88px;
}
#mark__container .form-label{
    margin: 0 !important;
}
.student__contentdetails:hover + .student__contenttooltiphover--name {
    display: block;
}
#mark__container .sub__heading{
    font-size: 0.75em;
    font-weight: normal;
    margin: 5px 0;
}
