.markentry__tab {
    justify-content: center;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-bottom: unset;
}

.markentry__tablink {
    color: #838383;
    font-size: 0.875em;
    border: none;
    border-radius: 0;
    padding: 12px 16px;
    white-space: nowrap;
    height: 50px;
    position: relative;
}
.markentry__tablink.active {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #19a5a3;
    color: #000;
    border-radius: 0px;
    font-weight: 500;
}

.markentry__tablink:hover .total__schools {
    display: block;
}

.total__schools {
    text-align: left;
    transform: translate(0, 0);
    padding: 10px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    white-space: normal;
    border-radius: 5px;
}

.markentry__bulkuploadOnhover {
    top: 50px;
    left: 10px;
    width: 180px;
}

.total__schools i {
    position: absolute;
    bottom: 100%;
    left: 30px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.total__schools i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.unitestHeading__gradescltemp {
    color: #000;
    font-weight: 600;
    line-height: 1.5;
    font-size: 0.938em;
}

@media(max-width:767px) and (min-width:320px) {
    .markentry__tablink {
        color: #838383;
        font-size: 0.813em;
        border: none;
        border-radius: 0;
    }
}


#mark__container .table thead th, #mark__container .table tbody td {
    position: relative;
}
.bg__warninginput {
    border: 1px solid #f00;
}
.bg__warninginput:hover + .bg__warninginput--hover{
    display: block;
}
.bg__warninginput--hover p{
    white-space: nowrap;
    margin:4px;
}
.bg__warninginput--hover {
    padding: 1px 4px;
    position: absolute;
    box-sizing: border-box;
    display: none;
    white-space: normal;
    left: 58px;
    top: 60px;
    width: auto;
    z-index: 999;
    background: #FEEEF0;
    border: 1px solid #EFC0C0;
    box-shadow: 0 3px 4px 0 rgba(0,0,0, 0.10);
    border-radius: 2px;
    font-size: 0.75em;
    font-weight: 600;
    color: #f00;
    transform: translate(-57%, 0%);
}
.bg__warninginput--hover p::after{
    content: '';
    width: 12px;
    left: 45%;
    -webkit-transform: translate(-50%,50%) rotate(45deg);
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #feeef0;
    border: 1px solid #EFC0C0;
    top: -12px;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    height: 12px;
    overflow: hidden;
    border-top-color: #efc0c0;
    border-bottom-color: #feeef0;
    border-right-color: #feeef0;
}