.markentry__bulkupload__popupvalidation {
    width: 25%;
    background: #fff;
    border-left: 3px solid #19a5a3;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 2px;
    padding: 20px 30px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 22%;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
    -moz-box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
    box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
  }
  .markentry__submitbutton-lockicon {
    color: #9b9b9b;
    font-size: 1.375em;
    vertical-align: middle;
    padding: 8px 0;
    pointer-events: none;
    }
  
    /* spinner loader start */
    .loading__spinner{
      display: none;
       position: fixed;
       z-index: 10000;
       background-color: #fff;
       opacity: 0.7;
       background-repeat: no-repeat;
       background-position: center;
       left: 0;
       bottom: 0;
       right: 0;
       top: 0;
   }
   .loading__spinnerimg {
           left: 50%;
       position: absolute;
       top: 50%;
   }
    .loading__spinner.show {
          display: block;
      }
   /* spinner loader end */