.markentry__tabtext__details{
    padding: 0px 0;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}
.markentry__bulkupload {
    padding: 50px 0;
    position: relative;
}
.markentry__bulkupload__entrytemp{
    text-align: center;
}
.markentry__bulkupload__markwarp{
    display: inline-block;
    padding: 0px;
    font-size: 0.813em;
    background: #f5f5f5;
    border-radius: 12px;
}
.markentry__bulkupload__markwarplink{
    display: inline-block;
    padding: 4px;
    float: left;
}
.markentry__bulkupload__marimg{
    margin-right: 5px;
    /* font-size: 0.813em; */
    width: 10px;
}
.markentry__bulkupload-list{
    display: inline-block;
    padding: 4px;
    float: left;
}
.markentry__bulkupload__detailslink{
    display: inline-block;
    float: right;
}
li.markentry__bulkupload-list:first-child {
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
}
li.markentry__bulkupload-list:last-child {
    border-left: 1px solid #ccd;
}
.markentry__bulkupload-listlink{
    padding: 4px;
    font-size: 0.813em;
    text-decoration: underline;
    color: #007fa3;
}
.markentry__bulkupload-listlink:hover{
    text-decoration: underline;
    color: #007fa3;
}

.markentry__bulkupload__entrytemp__dragdrop{
    text-align: center;
}
.markentry__bulkupload__entrytemp--click, .upload__btn--close{
    cursor: pointer;
}
.markentry__bulkupload__entrytemp__fileinput{
    color: #ccc;
    font-style: italic;
    font-size: 0.813em;
    line-height: 1.8;
}
.markentry__bulkupload__entrytemp__uploadlabel{
    color: #007fa3;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: underline;
}
.markentry__bulkupload__entrytemp__bulkinput{
    display: none;
}
.markentry__hrline{
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.markentry__bulkupload__entrytemp--listitem{
    display: inline-block;
    font-size:0.813em;
    color: #ccc;
    padding: 0px 10px;
}
.markentry__borderright{
    border-right: 1px solid #e3e3e3;
}

.markentry__bulkuploadOnhover {
    top: 50px;
    left: 50px;
    width: 180px;
}

@media(max-width:767px) and (min-width:320px){
    .markentry__bulkupload__markwarp{
        font-size: 0.750em;
    }
    .markentry__bulkupload__detailslink{
        padding-left: 10px;
    }
    .markentry__bulkupload__markwarplink , .markentry__bulkupload-list{
        padding: 0px;
    }
    .markentry__bulkupload__marimg{
        margin-right:2px;
    }
    .markentry__bulkupload-listlink{
        font-size: 0.750em;
    }
}

.upload__window {
    background: white;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 25px;
    width: 30%;
    position: absolute;
    top: 26%;
    bottom: 0;
    margin: 0 auto;
    left: 0%;
    right: 0;
    height: 150px;
    box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.2);
    }
    .upload__head {
    font-size: 0.875em;
    margin: 0px 2px;
    color: #565656;
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    padding-bottom: 15px;
    }
    .upload__loader {
    margin-top: 10px;
    }
    .upload__percentage {
    font-size: 0.813em;
    font-weight: bold;
    }
    .upload__loader--outline {
    position: relative;
    width: 100%;
    height: 4px;
    background: #ccc;
    float: left;
    }
    .upload__loader--inline {
    position: absolute;
    left: 0;
    width: 25%;
    height: 8px;
    background: #51a6a4;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    top: -2px;
    }
    .upload__btn {
    display: inline-block;
    }
    .upload__btn--close, .upload__btn--close:focus {
    background: none;
    border: none;
    }
    .upload__btn--icon {
    display: inline-block;
    color: #fff;
    padding: 3px 3px;
    border-radius: 50%;
    font-size: 0.875em;
    background: #ea7081;
    }
    .upload__filenametext {
    font-size: 0.75em;
    font-weight: 600;
    text-align: left;
    }
    .studentCountColor {
        color: #eda458 !important;
    } 
    .studentCountColor small {
        color: #000 !important;
        font-size: 80%;
        font-weight: 400;
    }
    .markentryNavigation {
        background: #fff;
        padding: 0 15px 15px 15px;
    }
    .uploadnav__buttontablist {
        display: inline-block;
    }
    .uploadnav__buttontabitem.active {
        border-radius: 20px;
        background-color: #12b2a6;
        box-shadow: 0 2px 4px 0 #71b9b3;
        border: solid 1px #12b2a6;
        color: #fff;
    }
    .uploadnav__buttontabitem {
        display: inline-block;
        font-size: 13px;
        border-radius: 15px;
        background-color: #ffffff;
        border: solid 1px #e7e7e7;
        padding: 3px 13px;
        margin-right: 5px;
        color: #ccc;
        text-transform: capitalize;
        cursor: pointer;
    }
    .countBadge {
        margin: 0 0 0 7px;
    }
    .countBadge--color {
        color: #000;
    }

    /* spinner loader start */
    .loading__spinner{
        display: none;
         position: fixed;
         z-index: 10000;
         background-color: #fff;
         opacity: 0.7;
         background-repeat: no-repeat;
         background-position: center;
         left: 0;
         bottom: 0;
         right: 0;
         top: 0;
     }
     .loading__spinnerimg {
             left: 50%;
         position: absolute;
         top: 50%;
     }
      .loading__spinner.show {
            display: block;
        }
     /* spinner loader end */