/*dashboard start css*/

.dashboard__contentwrapper {
    margin-left: 210px;
    transition: .5s;
    outline: none !important;
}
.dashboard__contentwrapper--exp {
    margin-left: 60px;
    transition: .5s;
    outline: none !important;
}
.dashboard__header {
    background-image: none;
    background-color: transparent;
    margin: 0;
    min-height: 30px;
    padding: 20px 20px 0 20px;
    color: #333;
}
.dashboard__header--breadcrumb {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 15px;
}
.dashboard__header--breadcrumblist {    
    text-transform: capitalize;
}
.dashboard__header--breadcrumblistitem {
    display: inline-block;
}
.dashboard__header--breadcrumblink {
    color: #2a8eaa;
    font-size: 0.813em;
    font-weight: 600;
}
.dashboard__header--breadcrumblist .dashboard__header--breadcrumblistitem+.dashboard__header--breadcrumblistitem:before {
    color: #9aaebe;
    font-family: "Material Icons";
    content: "\e5cc";
    vertical-align: middle;
    padding: 0px 10px 0px 5px;
    font-size:0.875em;
}
.dashboard__header--breadcrumbactiveitem {
    color: var(--black);
    font-weight: 600;
    font-size: 0.813em;
}


/* media queri start */
@media (max-width: 768px) and (min-width: 320px){
    .dashboard__contentwrapper {
        margin-left: 0px;
    }
    .dashboard__header--breadcrumblist .dashboard__header--breadcrumblistitem+.dashboard__header--breadcrumblistitem:before{
        padding: 0px 5px 0px 5px;
        font-size: 0.813em;
    }
}
@media (max-width: 990px) and (min-width: 768px){
    .dashboard__contentwrapper {
        margin-left: 0px;
    }
}

/* media queri end */

/*dashboard end css*/


