/**********************  header css start **********************/
	.header {
		background-color: #fff;
		width: 100%;
		height: 65px;
		position: fixed;
		z-index: 9999;
		border-bottom: 1px solid #ccc;
	}
	.header__logo {
		display: inline-block;
		height: 65px;
	}
	.header__logo--img {
		display: inline-block;
		margin: 7px 3px;
	}
	.pearson__collapes--img{
		margin-right: 72px;
	}
	.header__pearllogo--img{
		display: inline-block;
		padding: 11px 30px;
		border-left: 1px solid #d2d2d2;
		vertical-align: middle;
	}
	.header__logo--pearson {
		width: 100%;
		max-width: 110px;;
	}
	.header__logoimg--school {
		width: 100%;
		max-width: 120px;
	}
	.header__logoschool {
			height: 65px;
		border-left: 1px solid #ccc;
		margin-left: 20px;
		padding-left: 20px;
	}
	.header__schoolname {
			font-size: 15px;
		font-weight: 600;
	}

	/*header search box start style*/
	.header__searchbar {
		position: relative;
		margin: 16px 0px;
		background-color: #f7f6f6;
		border-radius: 24px;
		display: inline-block;
	}
	.header__search {
		display: inline-block;
		position: relative;
		height: 65px;
	}
	.header__search--icons {
		float: right;
		vertical-align: middle;
		margin-top: 3px;
	}
	.header__search--input{
		background-color: transparent;
		 /* width: 315px; */
		width: 290px;
		display: inline-block;
		padding: 7px 7px;
		border: 0px;
		border-radius: 22px;
		font-size: 0.875em;
		text-transform: capitalize;
		font-style: italic;
	}
	.header__search--input::placeholder {
		font-size: 0.875em;
	}
	.header__search--icon {
		color: #387392;
	}
	.header__search--sorticon {
		color: #b4b4b4;
		display: inline-block;
	}
	.header__searchsort {
		background: #fff;
		display: inline-block;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		text-align: center;
		vertical-align: middle;
		margin: 2px 6px 0px 0px;
		padding: 0px;
	}
	.header__sorticonimg {
		width: 15px;
		height: 15px;
		margin-bottom: 5px;
	}
	.header__searchsorticon {
		font-size: 20px;
		color: #387392;
	}
	.header__search--input:focus {
		font-style: normal;
		font-size: 0.875em;
		background-color: transparent;
		box-shadow: none;
		border-color: transparent;
	}
	.header__search--input::placeholder {
		color: #ccc;
	}
	.header__search--input:focus + .header__search--dropdown {
		display: block;
	}
	.header__search--input:focus .header__searchbar {
		outline: 1px solid orange;
	}
	.header__search--dropdown {
		display: none;
		position: absolute;
		top: 35px;
		left: 0;
		right: 0;
		z-index: 10;
		padding: 0;
		margin: 0;
		font-size: 13px;
		border:1px solid #edf3f5;
		border-radius: 3px;
		background-color: #fdfdfd;
		-webkit-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
		-moz-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
		-ms-box-shadow:0 4px 6px 2px rgba(0, 0, 0, .10);
		-o-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
		box-shadow:0 4px 6px 2px rgba(0, 0, 0, .10);
	}
	.header__search--dropdownshow {
		display: block;
	}
	.header-search--dropheading {
		background-color: #edf3f5;
	}
	.header-search--drophead {
		color: #4c4c4e;
		font-weight: 600;
	}
	.header-search--clickmore {
		color: #3b7697;
	}
	.header__search--dropitem-location {
		display: block;
		color: #979998;
		font-size: 12px;
	}
	.header__search--dropitem-name {
		color: #232323;	
	}
	.header__search--dropitem-highlight {
			color: #356d92;
		font-weight: 700;
		display: inline-block;
	}
	.header__search--droplist {
		border-bottom: 1px solid #f2f2f2;
			padding-left: 10px;
	}
	.header__search--droplist:last-child {
		border-bottom: none;
	}
	.header__search--dropitem-img {
		width: 100%;
		max-width: 27px;
		max-height: 27px;
	}
	.header__searchcloseicon {
		display: none;
	}
	.header__search--icons--search {
		display: inline-block;
		vertical-align: middle;
		background: transparent;
	}


	/*search filter start css*/
	.search__filterheader {
		display: none;
	}
	.header__search--icons--sort {
		display: inline-block;
		cursor: pointer;
		vertical-align: middle;
	}
	.searchfilter__border {
		padding: 0px 0px;
	}
	.search_filter {
		width: 410px;
		right: 0px;
		/* height: 342px; */
		position: absolute;
		display: none;
		background: #fff;
		color: #333;
		padding: 21px;
		margin-top: 10px;
		border: 1px solid #dfdfdf;
		box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.13);
		-moz-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.13);
		-webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.13);
		border-radius: 3px;
		top: 26px;
	}
	.search_filtervisible {
		display: block;
	}
	.search_filter i{
		position: absolute;
		bottom: 100%;
		right: 2%;
		margin-left: -14px;
		width: 24px;
		height: 12px;
		overflow: hidden;
	}
	.search_filter i::after{
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		left: 50%;
		transform: translate(-50%,50%) rotate(45deg);
		background-color: #fff;
		box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	}
	.search_filter__head {
		color: #232323;
		font-size: 0.875em;
		font-weight: 600;
	}
	.search__filteroptiontextpara {
		font-size: 0.75em;
		color: #4a4a4a;
	}
	.checkbox-contaner {
		position: relative;
		display: inline-block;
		outline: transparent !important;
	}
	#checkboxes input[type=checkbox] {
		display: none;
	}

	.suggestionbutton__active {
		background: #12b2a6!important;
		border: none!important;
		color: #fff!important;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
	}

	#checkboxes input[type=checkbox]:checked + .search-type {
		background: #12b2a6;
		border: none;
		color: #fff;
	}
	.search__suggestionbutton {
		background: #fff;
		border: solid 1px #e8e9e8;
		border-radius: 30px;
		padding: 3px 15px;
		color: #232323;
		font-size: 0.8125em;
		cursor: pointer;
		text-transform: capitalize;
		margin-right: 0px;
	}
	.search__suggestionselectlist {
		display: inline-block;
	}
	.search__filterhide {
		opacity: 0.5;
	   cursor: not-allowed;
	 }
	 .slider-container {
		padding: 15px 0px;
	}
	.search_filter__viewoption {
		color: #232323;
		font-size: 0.875em;
		margin-top: 8px;
	}
	/*advance search filter range slider one styling start */
	.range__sliderone {
		position: relative;
		width: 220px;
		height: 3px;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #fff 50%, #fff 100%);
	}

	.range__sliderinputone {
		width: 100%;
		position: absolute;
		top: 2px;
		height: 0;
		-webkit-appearance: none;
		z-index: 10;
	}
	.range__sliderinputone::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputone::-moz-range-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputone::-ms-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputone::-webkit-slider-runnable-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputone::-moz-range-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputone::-ms-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputone:focus {
		background: none;
		outline: none;
	}
	.range__sliderinputone::-ms-track {
		width: 100%;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	.range__sliderlabelsone {
		margin: 16px -26px 0px;
		padding: 0;
		list-style: none;
		position: relative;
		top: 10px;
	}
	.range__sliderlabelone {
		position: relative;
		float: left;
		width: 54.25px;
		text-align: center;
		color: #232323;
		font-size: 0.875em;
		cursor: pointer;
	}
	.range__sliderlabelone::before {
		position: absolute;
		top: -25px;
		right: 0;
		left: 0;
		content: "";
		margin: 0 auto;
		width: 9px;
		height: 9px;
		background: transparent;
		border-radius: 50%;
	}
	.range__sliderlabelsone .active {
		font-weight: 600;
	}
	/*advance search filter range slider one styling end */

	/*advance search filter range slider two styling start */
	.range__slidertwo {
		position: relative;
		width: 220px;
		height: 3px;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #fff 50%, #fff 100%);
	}

	.range__sliderinputtwo {
		width: 100%;
		position: absolute;
		top: 2px;
		height: 0;
		-webkit-appearance: none;
		z-index: 10;
	}
	.range__sliderinputtwo::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputtwo::-moz-range-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputtwo::-ms-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputtwo::-webkit-slider-runnable-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputtwo::-moz-range-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputtwo::-ms-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputtwo:focus {
		background: none;
		outline: none;
	}
	.range__sliderinputtwo::-ms-track {
		width: 100%;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	.range__sliderlabelstwo {
		margin: 16px -26px 0px;
		padding: 0;
		list-style: none;
		position: relative;
		top: 10px;
	}
	.range__sliderlabeltwo {
		position: relative;
		float: left;
		width: 54.25px;
		text-align: center;
		color: #232323;
		font-size: 0.875em;
		cursor: pointer;
	}
	.range__sliderlabeltwo::before {
		position: absolute;
		top: -25px;
		right: 0;
		left: 0;
		content: "";
		margin: 0 auto;
		width: 9px;
		height: 9px;
		background: transparent;
		border-radius: 50%;
	}
	.range__sliderlabelstwo .active {
		font-weight: 600;
	}
	/*advance search filter range slider two styling end */

	/*advance search filter range slider two styling start */
	.range__sliderthree {
		position: relative;
		width: 220px;
		height: 3px;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #fff 50%, #fff 100%);
	}

	.range__sliderinputthree {
		width: 100%;
		position: absolute;
		top: 2px;
		height: 0;
		-webkit-appearance: none;
		z-index: 10;
	}
	.range__sliderinputthree::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputthree::-moz-range-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputthree::-ms-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 2px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: pointer;
		position: relative;
		bottom: 7px;
		left: 0px;
	}
	.range__sliderinputthree::-webkit-slider-runnable-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputthree::-moz-range-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputthree::-ms-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: linear-gradient(to right, #3e7fa3 0%, #3e7fa3 50%, #d8d8d8 50%, #d8d8d8 100%);
	}
	.range__sliderinputthree:focus {
		background: none;
		outline: none;
	}
	.range__sliderinputthree::-ms-track {
		width: 100%;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	.range__sliderlabelsthree {
		margin: 16px -26px 0px;;
		padding: 0;
		list-style: none;
		position: relative;
		top: 10px;
	}
	.range__sliderlabelthree {
		position: relative;
		float: left;
		width: 54.25px;
		text-align: center;
		color: #232323;
		font-size: 0.875em;
		cursor: pointer;
	}
	.range__sliderlabelthree::before {
		position: absolute;
		top: -25px;
		right: 0;
		left: 0;
		content: "";
		margin: 0 auto;
		width: 9px;
		height: 9px;
		background: transparent;
		border-radius: 50%;
	}
	.range__sliderlabelsthree .active {
		font-weight: 600;
	}
	/*advance search filter range slider two styling end */

	.range__slidertickmark--commmon {
		position: absolute;
		background: rgb(255, 255, 255);
		border: 0.6px solid rgb(190, 190, 190);
		width: 1px;
		height: 6px;
		top: 3px;
		z-index: 9;
	}
	.range__slidertickmark--1 {
		left: 0px;
	}
	.range__slidertickmark--2 {
		left: 56px;
	}
	.range__slidertickmark--3 {
		left: 109px;
	}
	.range__slidertickmark--4 {
		left: 162px;
	}
	.range__slidertickmark--5 {
		left: 219px;
	}
	.done_button {
		background: #047a9c;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		outline: none;
		border-radius: 2px;
		text-align: center;
		font-size: 0.875em;
		padding: 7px 20px;
		outline: transparent !important;
		margin-top: 25px;
	}	
	.done__cancel {
		background: #e9e9e9;
		border: 1px solid #c7c7c7;
		border-radius: 2px;
		color: #000;
		cursor: pointer;
		outline: none;
		border-radius: 2px;
		text-align: center;
		font-size: 0.875em;
		padding: 7px 20px;
		outline: transparent !important;
		margin-top: 25px;
	}
	/*search filter start css*/
	.header__searchbarcloseicon {
	display: none;
	}
	/*header search box start end*/

	/*avatar css start*/
	.avatar {
		color: #333;
	}

	.avatar__user {
		display: inline-block;
		vertical-align: middle;
	}
	.avatar__user--role {
		display: block;
		font-weight: 400;
		font-style: italic;
		/*font-size: 13px;*/
		text-align:right;
	}
	.avatar__usernames {
		display: inline-block;
		font-size: 0.8125em;
		font-weight: 600;
	}
	.avatar__image {
		width: 100%;
		max-width: 32px;
		max-height: 32px;
		display: inline-block;
		vertical-align: middle;
		border-radius: 50%;
		box-shadow: 0px 3px 6px 0px #bdbdbd;
		-moz-box-shadow: 0px 3px 6px 0px #bdbdbd;
		-webkit-box-shadow: 0px 3px 6px 0px #bdbdbd
	}
	/*avatar css end*/
	
	/*help icon start */
	.dashboard__helpicon {
		display: inline-block;
	}
	.header__helpicon-drop {
		background: transparent;
	}
	/*help icon end */

	/*header usermenu dropdown*/ 
	.header__usermenu {
		display: inline-block;
		float: right;
	}
	.header__usermenu-dropdown {
		position: relative;
	}
	.header__usermenu-dropdownbtn {
		display: inline-block;
		padding: 10px 5px;
	}
	.header__usermenu-dropcontent {
		display: none;
		position: absolute;
		top: 60px;
		right: 10px;
		width: 180px;
		background: #fff;
		font-size: 13px;
		background: #fff;
		color: #333;
		padding: 3px 5px;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
	}
	.header__usermenudrop--visible {
		display: block;
	}
	.header__usermenu-dropcontent a {
		border-bottom: 1px solid #f0f0f1;
		padding: 10px 0px;
		color: #333;
		text-transform: capitalize;
		display: block;
	}
	.header__usermenu-dropcontent a:last-child {
		border-bottom: 0;
	}
	.header__usermenu-dropcontent a:hover {
		background-color: #f0f0f1;
	}
	.header__usermenu-dropicon {
		padding-right: 10px;
	}
	.header__usermenu-dropdown--img {
		display: inline-block;
		vertical-align: top;
	}
	/*header usermenu dropdown*/

	/*language css start*/
	.header__language {
		display: inline-block;
	}
	.header__language--drop {
		color: #000;
	}
	.header__language--dropdown {
		color: #b4b4b4;
	}
	.header__language--name {
		color: #000;
		font-size: 0.875em;
	}
	.header__language--dropdownbtn {
		display: inline-block;
		padding: 10px 6px;
		background: transparent;
	}
	.header__language--dropdown {
		position: relative;
	}
	.header__language--dropcontent {
		display: none;
		position: absolute;
		top: 50px;
		right: 10px;
		width: 160px;
		background: #fff;
		font-size: 13px;
		background: #fff;
		color: #333;
		padding: 3px 5px;
		box-shadow: 0 -2px 18px 0 rgba(0, 0, 0, 0.17);
		-moz-box-shadow:  0 -2px 18px 0 rgba(0, 0, 0, 0.17);
		-webkit-box-shadow: 0 -2px 18px 0 rgba(0, 0, 0, 0.17);
		border-radius: 5px;
	}
	.header__language--dropcontent:before {
		position: absolute;
		display: block;
		content: '';
		bottom: 100%;
		   right: 21px;
		width: 13px;
		height: 13px;
		margin-bottom: -6px;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		background: #fff;
		transform: rotate(45deg);
		transition: all .4s ease-in-out;
	}
	.header__language--dropcontentvisible {
		display: block;
	}
	.header__language--dropitem {
		display: block;
		padding: 7px 7px;
		border-bottom: 1px solid #dfdedf;
	}
	.header__language--dropitem:last-child {
		border-bottom: none;
	}
	.header__language--flag {
		width: 100%;
		max-width: 23px;
	}
	.header__language--flagspan {
		width: 23px;
		display: inline-block;
	}
	/*language css end*/

	/*notification css start*/
	.header__notification-drop {
		background: transparent;
	}
	.header__notification {
		display: inline-block;
	}
	.header__notification--dropdownbtn {
		display: inline-block;
		padding: 6px 7px;
	}
	.header__notification--dropdownbtn:focus {
		background-color: #f4f4f3;
		border-radius: 50%;
	}
	.header__notification--dropdown {
		position: relative;
		padding: 4px 5px;
	}
	.header__notification--dropcontent {
		display: none;
		position: absolute;
		top: 64px;
		right: 0px;
		width: 300px;
		background: #fff;
		font-size: 13px;
		background: #fff;
		color: #333;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		border-radius: 4px;
	}
	.header__notification--dropcontent:before {
		position: absolute;
		display: block;
		content: '';
		bottom: 100%;
		right: 21px;
		width: 15px;
		height: 15px;
		margin-bottom: -7px;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		background: #fff;
		transform: rotate(45deg);
		transition: all .4s ease-in-out;
	}
	.header__notification--dropdown:hover .header__notification--dropcontent {
		display: block;
	}
	.header__notification--number {
		position: absolute;
		top: 0px;
		right: 0px;
		padding: 0px 7px;
		background-color: #da2b74;
		border-radius: 4px;
		border: 2px solid #fff;
		color: #fff;
	}
	.header__notification--dropitem {
		border-bottom: 1px solid #e2e3e3;
		margin: 0px 4px;
	}
	.header__notification--dropitem:last-child {
		border-bottom: 0px;
	}
	.header__notification--dropitem:hover {
		background-color: #eff2f4;
		border-left: 3px solid #60c0b6;
		margin: 0px 0px;
		border-bottom: 0px solid #e2e3e3;
		padding: 0px 4px;
	}
	.header__notification--icon {
		color: #ccc;
		font-size: 26px;
		vertical-align: middle;
		display: inline-block;
	}
	.header__notification--drophead {
		background-color: #fff;
		border-radius: 4px;
	}
	.header__notification--dropbody {
		background-color: #f8f7f7;
		height: 250px;
		overflow-y: scroll;
		border-radius: 4px;
	}

	.header__notification--dropbody::-webkit-scrollbar {
		width: 6px;
		background-color: #f8f7f7;
	}
	.header__notification--dropbody::-webkit-scrollbar-thumb {
		background-color: #9d9e9e;
		border-radius: 3px;
		padding-right:2px;
	}
	.header__notification--dropitem-name {
		color: #232323;
		font-weight: 600;
		display: inline-block;
	}
	.header__notification--dropitem-location {
		display: block;
		color: #979998;
		font-size: 12px;
	}
	.header__usermenu-dropdown--img {
		width: 35px;
		height: 36px;
	}
	.header__notification--dropitem-img {
		width: 100%;
		max-width: 35px;
		max-height: 36px;
	}

	.header__notification--subject {
		color: #706f6f;
	}
	/*notification css end*/

	/*header font resize start */
	.header__fontresizebutton {
		background: transparent;
	}
	.header__fontresize--dropdown {
		position: relative;
		display: inline-block;
	}
	.header__fontresize--dropbtn {
		padding: 10px 10px;
		cursor: pointer;
	}
	.header__fontresize--dropcontent {
		display: none;
		position: absolute;
		top: 50px;
		right: -87px;
		width: 225px;
		background: #fff;
		font-size: 13px;
		background: #fff;
		color: #333;
		padding: 10px 16px;
		box-shadow: 0 -2px 18px 0 rgba(0, 0, 0, 0.17);
		-moz-box-shadow:  0 -2px 18px 0 rgba(0, 0, 0, 0.17);
		-webkit-box-shadow: 0 -2px 18px 0 rgba(0, 0, 0, 0.17);
		border-radius: 5px;
	}
	.header__fontresize--dropcontent:before {
		position: absolute;
		display: block;
		content: '';
		bottom: 100%;
		left: 50%;
		width: 13px;
		height: 13px;
		margin-bottom: -6px;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		background: #fff;
		transform: rotate(45deg);
		transition: all .4s ease-in-out;
	}	
	.header__fontresize--dropcontentvisible {
		display: block;
	}

	.dragfont__level {
		display: inline-block;
		text-align: center;
		font-size: 14px;
	}
	.dragfont__levellarge {
		font-size: 20px;
	}
	.dragfont__levelmedium {
		font-size: 16px;
	}
	.dragfont__level--medium {
		margin-top: 6px;
	}
	.dragfont__level--small {
		margin-top: 9px;
	}
	.range__sliderfont {
		position:relative;
	}
	.fontresize__active {
		color: #4893b2;
	}
	.range__sliderfontinput {
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		width: 100%; /* Specific width is required for Firefox. */
		background: transparent; /* Otherwise white in Chrome */
		position: relative;
		z-index: 10;
		height: 30px;
	}
	.range__sliderfontinput::-webkit-slider-thumb {
	  -webkit-appearance: none;
	}
	.range__sliderfontinput:focus {
	  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
	}
	.range__sliderfontinput::-ms-track {
	  width: 100%;
	  cursor: pointer;

	  /* Hides the slider so custom styles can be added */
	  background: transparent; 
	  border-color: transparent;
	  color: transparent;
	}
	/* Special styling for WebKit/Blink */
	.range__sliderfontinput::-webkit-slider-thumb {
	  -webkit-appearance: none;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 3px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: move; 
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		transition: background .15s ease-in-out;
		position: relative;
		z-index: 1000;
		bottom: 10px;
	}
	/* All the same stuff for Firefox */
	.range__sliderfontinput::-moz-range-thumb {
	  -webkit-appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 3px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		transition: background .15s ease-in-out;
		position: absolute;
		z-index: 200;
	}
	/* All the same stuff for IE */
	.range__sliderfontinput::-ms-thumb {
	  -webkit-appearance: none;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #3e7fa3;
		border: 3px solid #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		cursor: move; 
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		transition: background .15s ease-in-out;
		position: relative;
		z-index: 200;
	}
	.range__sliderfontinput::-webkit-slider-runnable-track {
		width: calc(100% - (0px));
		height: 2px;
		border-radius: 3px;
		background: #cbcbcb;
		outline: none;
		padding: 0;
		margin: 0;
	}

	.range__sliderfontinput:focus::-webkit-slider-runnable-track {
	  background: #cbcbcb;
	}

	.range__sliderfontinput::-moz-range-track {
		width: calc(100% - (2px));
		height: 2px;
		border-radius: 3px;
		background: #cbcbcb;
		outline: none;
		padding: 0;
		margin: 0;
		position: relative;
		z-index: 100;
	}

	.range__sliderfontinput::-ms-track {
	 width: calc(100% - (0px));
		height: 2px;
		border-radius: 3px;
		background: #cbcbcb;
		outline: none;
		padding: 0;
		margin: 0;
	}
	.range__sliderfontinput::-ms-fill-lower {
	  background:  #cbcbcb;
	}
	.range__sliderfontinput:focus::-ms-fill-lower {
	  background:  #cbcbcb;
	}
	.range__sliderfontinput::-ms-fill-upper {
	  background:  #cbcbcb;
	}
	.range__sliderfontinput:focus::-ms-fill-upper {
	  background:  #cbcbcb;
	}
	  .range__sliderindicator1 {
		position: absolute;
		background: rgb(255, 255, 255);
		border: 1px solid rgb(190, 190, 190);
		width: 2px;
		left: 15px;
		height: 4px;
		top: 10px;
		z-index: 0;
	  }
	  .range__sliderindicator2 {
		position: absolute;
		background: rgb(255, 255, 255);
		border: 1px solid rgb(190, 190, 190);
		width: 2px;
		left: 113px;
		height: 4px;
		top: 10px;
		z-index: 0;
	  }
	  .range__sliderindicator3 {
		position: absolute;
		background: rgb(255, 255, 255);
		border: 1px solid rgb(190, 190, 190);
		width: 2px;
		left: 206px;
		height: 4px;
		top: 10px;
		z-index: 0;
	  }
	  .range__sliderindicator4{
		position: absolute;
		background: rgb(255, 255, 255);
		border: 1px solid rgb(190, 190, 190);
		width: 2px;
		left: 15px;
		height: 4px;
		bottom: 15px;
		z-index: 0;
	}
	.range__sliderindicator5{
		position: absolute;
		background: rgb(255, 255, 255);
		border: 1px solid rgb(190, 190, 190);
		width: 2px;
		left: 113px;
		height: 4px;
		bottom: 15px;
		z-index: 0;
	}
	.range__sliderindicator6{
		position: absolute;
		background: rgb(255, 255, 255);
		border: 1px solid rgb(190, 190, 190);
		width: 2px;
		left: 206px;
		height: 4px;
		bottom: 15px;
		z-index: 0;
	}
	/*header font resize end */

	/*toggle menu css start */
	.header__togglemenu  {
		display: none;
	}
	.header__togglemenubtn  {
		background: none;
		padding: 6px 5px;
		line-height: 1.0;
		margin: 0px 10px;
	}
	/*toggle menu css end */

	/*media queries start*/
	@media (max-width: 1244px) {
		/*serach css start */
		.header__search--input {
			width: 255px;
		}
		/*serach css end */

	}
	@media (max-width: 1199.98px) {
		/*avatar user css start */
		.avatar__user {
			display: none;
		}
		/*avatar user css start */
		/*help icon css start */
		.dashboard__helpicon {
			display: none;
		}
		/*help icon css end */
		/*language start css start */
		.header__language--headername {
			display: none;
		}
		/*language start css end */
		/*toggle menu css start */
		.header__togglemenu  {
			display: inline-block;
		}
		/*toggle menu css end */
	}
	@media (max-width: 991.98px) {
		/*serach css start */
		.header__search--input {
			width: 175px;
		}
		/*serach css end */
	}
	@media (max-width: 767.98px) {
		/*header avatar menu start css*/
		.header__usermenu {
			display: none;
		}
		/*header avatar menu end css*/
		/*header notificaiton start */
		.header__notification {
			margin: 10px 10px;
		}
		/*header notificaiton start */
		/*header language start*/
		.header__language {
			display:none;
		}
		/*header language end*/
		/*header font resize start */
		.header__fontresize--dropdown {
			display: none;
		}
		/*header font resize end */
		/*header search start */
		.header__search--icons {
			cursor: pointer;
		}
		.header__searchbar {
			background: #fff;
		}
		.header__search--fluidmobile {
			flex: 0 0 100%;
			max-width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: #fff;
		}
		.header__search--input {
			width: 73%;
			display: none;
		}
		.header__searchinputshow {
			display: block;
		}
		.header__search--icons--sort {
			display:none;
			float: right;
			margin: 6px 6px 0 0;
		}
		.header__searchbar--fluidmobile {
			width: 100%;
			position: relative;
			margin: 16px 0px;
			background-color: #f7f6f6;
			border-radius: 24px;
		}
		.header__searchcloseicon {
			display: none;
		}
		.header__searchcloseicon--visible {
			display: inline-block;
			background: transparent;
		}
		.header__searchcloseiconshow {
			display: inline-block;
			margin: 4px 6px;
			vertical-align: middle;
		}
		.header__searchbarcloseicon {
			margin-right: 6px;
			display: inline-block;
			margin-top: 6px;
		}
		.header__searchiconhide {
			display: none;
		}
		.header__sortvisible {
			display: inline-block;
		}
		.header__notification--fluidmobile {
			display: none;
		}
		.header--themeadvancesearch {
			height: 100%;
		}
		.header__search--icons {
			margin-top: 0px;
		}
		.header__advancesearchheight {
			height: 100%;
		}
		.header__search--fluidmobileadvancesearch {
			height: 100%;
			padding: 0px;
		}
		.search_filtervisibleadancesearch {
			height: 100%;
		}
		.search__filterheaderadvancesearch {
			display: block;
			height: 100%;
			top: 0px;
			width: 100%;
			padding: 0px;
			margin-top: 0px;
		}
		.search__filterheader {
			display: block;
		}
		.search__filterheadingabout {
			background: #f2f2f2;
			border-radius: 25px;
			display: block;
			padding: 6px;
			position: relative;
			margin-bottom: 8px;
			margin: 10px 9px;
		}
		.slider-container {
			padding: 0px 0px;
		}
		.search__suggestionselectlist {
			margin-bottom: 6px;
		}
		.search__filterheadingabouthead {
			display: inline-block;
			font-size: 0.75em;
			color: #232323;
			font-weight: 600;
			margin: 4px 7px;
		}
		.search__filterheadingaboutclose {
			position: absolute;
			top: 6px;
			right: 5px;
			color: #fff;
			background: #007fa3;
			padding: 3px 3px;
			border-radius: 50%;
			font-size: 1.125em;
		}
		.search__filterheading {
			background: #ccc;
			padding: 5px;
		}
		.searchfilter__arrow {
			display: none;
		}
		.searchfilter__border {
			padding: 12px 15px;
			border-top: 1px solid #f2f2f2;
		}
		.done__cancel {
			display: none;
		}
		.done_button {
			width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
		/*header search end */
	}
	@media (max-width: 575.98px) { 
		.header__togglemenu {
			margin: 8px 0px;
		}
		.header__logo--img {
			margin: 8px 0px;
			vertical-align: top;
		}
		.header__logo--pearson {
			width: 100%;
			max-width: 100px;
		}
		.header__notification {
			margin: 5px 8px;
		}
	}

	/*media queries end*/

	/*font accessiblity start css  */
	.header__notificationnumber--theme-white {
		font-size: 0.8125em;
	}
	.avatar__user--role {
		font-size: 0.8125em;
	}
	.header__search--dropdown {
		font-size: 0.8125em;
	}
	/*font accessiblity end css  */

	.dragfont__level--mediumblue {
		color: #4893b2;
	}
/****************************************** header css end ***************************************************** /

/****************************************** notificaiton css start ******************************************/
	.mail{
		width: 320px;
		overflow: hidden;
		padding-bottom: 0px;
		height: 470px;
	}
	.dropdown-menunot {
		position: absolute;
		top: 50px !important;
		/* right: 0px !important; */
		 left: -30px !important;  
		/* font-size: 0.813em; */
		background: #fff;
		color: #333;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
		border-radius: 4px;
		/* transform: unset !important; */
	}
	.header__notification__dropdown{
		position: relative;
		/* padding: 4px 5px; */
	}
	.header__notification-drop{
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
		cursor: pointer;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.form__search{
		display: flex;
		position: relative;
		/* margin: 0px; */
		border-bottom: 1px solid #ccc;
		margin: 0 6px;
	}
	.dropdown-menunotform-control{
		display: block;
		width: 100%;
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		color: #495057;
		background-color:transparent;;
		background-clip: padding-box;
		/* border: none; */
		/* border-bottom: 1px solid #ced4da; */
		border-radius:0;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.dropdown-menunotform-control:focus{
		/* border: none; */
		border: 1px solid #ced4da;
	}
	.close__btn{
		cursor: pointer;
		line-height: 1.5;
		/* margin-left: -20px; */
		margin-left: 0px;
	}
	.message__overscroll{
		padding: 0px 12px;
	}
	.message__center{
		white-space: normal;
		list-style: none;
		padding-left: 0px;
		overflow-y: hidden;
		height: 340px;
	}
	.message__centercontent{
		/* border-bottom: 1px solid rgba(120, 130, 140, 0.13); */
		display: block;   
		padding: 5px 15px;
		cursor: pointer;
	}
	.message__centercontent:hover{
		text-decoration: none;
	}
	.message__centercontentuser-img{
		width: 40px;
		float: left;
		position: relative;
		margin: 0 10px 10px 0px; 
	}
	.online{
		background: #da0474;
	}
	.message__centercontentprofile-status{
		border: 2px solid #ffffff;
		border-radius: 50%;
		display: inline-block;
		height: 12px;
		left: -15px;
		position: absolute;
		top: 0px;
		width: 12px;
		top: 10px;
	}
	.profile-statusimg {
		width:100%;
		border-radius: 50%;
	}
	.mail-contnetheading{
		margin: 0px;
	   font-weight: 600;
		color: #252525;    
		font-size: 0.875em;
		line-height:1.4;
	}
	.mail-descsubheading{
		font-size: 0.875em;
		display: block;
		margin: 5px 0;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;
		color: #6a7070;
		line-height:1.4;
	}
	.time{
		display: inline-flex;
		font-size: 0.875em;
		color: #a2a6a6;
		list-style: none;
		padding-left: 50px;
	}
	.message__view{
		color:#007fa3;
		text-decoration: underline;
		cursor: pointer;
		padding-left: 80px;
	}
	.message__centerviewbtn{
		padding: 7px 10px;
	}
	.message__centerviewbtnclik{
		display: block;
		padding: 12px 0;
		background: #047a9c;
		color: #fff;
		font-size: 0.875em;
		font-weight: normal;
		line-height: 1.29;
	}
	.message__centerviewbtnclik:hover{
		color: #fff;
		text-decoration: none;
	}
	.notification--icon{
		color: #6a7070;
		font-size: 1.500em;
		vertical-align: middle;
		display: inline-block;
	}
	.notification--number{
		position: absolute;
		top: 2px;
		left: 25px;
		padding: 0px 7px;
		background-color: #da2b74;
		border-radius: 4px;
		border: 2px solid #fff;
		color: #fff;
		font-size: 0.625em;
	}
	.dropdown-menunot{
		transform: translateX(2000px);
		transition: transform 0.6s ease;
	}
	.dropdown-menunoteff{    
	   transform: translateX(0px);
	   transition: transform 0.6s ease;
	}
	.dropdown-menunotselect{
		transform: translateX(2000px);
		transition: transform 0.6s ease;
		
	}
	.dropdown-menunotselecteff{
		transform: translateX(0px);
		transition: transform 0.1s ease;
	}
	.message__center:hover {
		overflow-y: scroll;   
		height: 340px;
	}
	.message__center::-webkit-scrollbar-track :hover{  
		box-shadow: inset 0 0 5px #46515a;  
		border-radius: 2px;
	}
	/** nav and media query **/
	.message__center::-webkit-scrollbar {
		width: 4px;
	}

	/* Track */
	/* Handle */
	.message__center::-webkit-scrollbar-track{
		background: #d8d5d5; 
		border-radius: 2px;
		visibility: hidden;
	}
	.message__center::-webkit-scrollbar-track:hover{
		background: #d8d5d5; 
		border-radius: 2px;
		visibility: visible;
	}
	/* Handle on hover */
	.message__center::-webkit-scrollbar-thumb{
		background-color: #adadad;	   
	}
	.animated {
		-webkit-animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-duration: 1s;
		animation-fill-mode: both
	}
	.animated.infinite {
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite
	}
	.animated.delay-1s {
		-webkit-animation-delay: 1s;
		animation-delay: 1s
	}
	.animated.delay-2s {
		-webkit-animation-delay: 2s;
		animation-delay: 2s
	}
	.animated.delay-3s {
		-webkit-animation-delay: 3s;
		animation-delay: 3s
	}
	.animated.delay-4s {
		-webkit-animation-delay: 4s;
		animation-delay: 4s
	}
	.animated.delay-5s {
		-webkit-animation-delay: 5s;
		animation-delay: 5s
	}
	.animated.delay-6s {
		-webkit-animation-delay: 6s;
		animation-delay: 6s
	}
	.animated.fast {
		-webkit-animation-duration: .8s;
		animation-duration: .8s
	}
	.animated.faster {
		-webkit-animation-duration: .5s;
		animation-duration: .5s
	}
	.animated.slow {
		-webkit-animation-duration: 2s;
		animation-duration: 2s
	}
	.animated.slower {
		-webkit-animation-duration: 3s;
		animation-duration: 3s
	}
	@media (prefers-reduced-motion) {
		.animated {
			-webkit-animation: unset!important;
			-webkit-transition: none!important;
			animation: unset!important;
			transition: none!important
		}
	}
	@keyframes fadeInDown {
		0% {
			opacity: 0;
			transform: translate3d(0,-100%,0)
		}

		to {
			opacity: 1;
			transform: none
		}
	}

	.fadeInDown {
		animation-name: fadeInDown
	}
	@keyframes swing {
		20% {
			transform: rotate(15deg)
		}

		40% {
			transform: rotate(-10deg)
		}

		60% {
			transform: rotate(5deg)
		}

		80% {
			transform: rotate(-5deg)
		}

		to {
			transform: rotate(0deg)
		}
	}

	.swing {
		transform-origin: top center;
		animation-name: swing
	}
	@media(max-width:767px){
		.header__notification__dropdown{
			position: relative;		
		}
		.message__overscroll{
			overflow-y:scroll;
				height: 430px;
		}		
		.dropdown-menunoteff{    
		   transform: translateX(-233px);
		   transition: transform 0.6s ease;
		   visibility: visible ;
		} 
	}
	@media(max-width:992px) and (min-width:768px){
		.dropdown-menunoteff {
			transform: translateX(-160px);
			transition: transform 0.6s ease;
			visibility: visible;
		}
	}
	@media(max-width:1024px) and (min-width:993px){
		.dropdown-menunoteff {
			transform: translateX(-155px);
			transition: transform 0.6s ease;
			visibility: visible;
		}
	}
	.dropdown-menunotselect{
		z-index: 9999;
		top: 0;
		transform: translateX(2000px);
		transition: transform 1s ease;
	 }
	.dropdown-menunotselecteff{
		transform: translateX(0px);
		transition: transform 0.1s ease;
		visibility: visible ;
	}
    @media(max-width:1128px) and (min-width:992px){
		.pearson__collapes--img {
			margin-right: 70px;
		}
		.header__pearllogo--img {
			padding: 11px 12px;
		}
    }
/****************************************** notificaiton css end ******************************************/

/******************************************* help css start ******************************************/
.helpicon__mail{
    width: 320px;
    overflow: hidden;
    padding-bottom: 0px;
    height: 470px;
}
.dropdown-menunot__helpicon {
    position: absolute;
    top: 50px !important;
    /* right: 0px !important; */
    left: -80px !important;
    /* font-size: 0.813em; */
    background: #fff;
    color: #333;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    /* transform: unset !important; */
}
.header__helpicon__dropdown{
	position: relative;
    /* padding: 4px 5px; */
}
.header__helpicon-drop{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form__search__helpicon{
    display: flex;
    position: relative;
    /* margin: 0px; */
    border-bottom: 1px solid #ccc;
    margin: 0 6px;
}
.dropdown__menunotform__controlhelpicon{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color:transparent;;
    background-clip: padding-box;
    /* border: none; */
    /* border-bottom: 1px solid #ced4da; */
    border-radius:0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dropdown__menunotform__controlhelpicon:focus{
    /* border: none; */
    border: 1px solid #ced4da;
}
.helpicon__close__btn{
    cursor: pointer;
    line-height: 1.5;
    /* margin-left: -20px; */
    margin-left: 0px;
}
.message__helpicon__overscroll{
    padding: 0px 12px;
}
.message__center__helpicon{
    white-space: normal;
    list-style: none;
    padding-left: 0px;
    overflow-y: hidden;
    height: 340px;
}
.message__centercontent__helpicon{
    /* border-bottom: 1px solid rgba(120, 130, 140, 0.13); */
    display: block;   
    padding: 5px 15px;
    cursor: pointer;
}
.message__centercontent__helpicon:hover{
    text-decoration: none;
}
.message__centercontentuser__helpicon-img{
    width: 40px;
    float: left;
    position: relative;
    margin: 0 10px 10px 0px; 
}
.online__helpicon{
    background: #da0474;
}

.message__centercontentprofile__helpicon-status{
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    left: -15px;
    position: absolute;
    top: 0px;
    width: 12px;
    top: 10px;
}
.profile__statusimg__helpicon{
    width:100%;
    border-radius: 50%;
}
.mail-contnetheading__helpicon{
    margin: 0px;
    font-weight: 600;
     color: #252525;    
     font-size: 0.875em;
     line-height:1.4;
}
.mail-descsubheading__helpicon{
    font-size: 0.875em;
    display: block;
    margin: 5px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
	color: #6a7070;
	line-height:1.4;
}
.time__helpicon{
    display: inline-flex;
    font-size: 0.875em;
    color: #a2a6a6;
    list-style: none;
    padding-left: 50px;
}
.message__view__helpicon{
    color:#007fa3;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 80px;
}
.message__centerviewbtn{
    padding: 7px 10px;
}
.message__centerviewbtnclik__helpicon{
    display: block;
    padding: 12px 0;
    background: #047a9c;
    color: #fff;
	font-size: 0.875em;
    font-weight: normal;
    line-height: 1.29;
}
.message__centerviewbtnclik__helpicon:hover{
    color: #fff;
    text-decoration: none;
}
.help__icon{
    color: #6a7070;
    font-size: 1.500em;
    vertical-align: middle;
    display: inline-block;
}

.dropdown-menunot__helpicon{
    transform: translateX(2000px);
    transition: transform 0.6s ease;
}
.dropdown-menunoteff__helpicon{    
    transform: translateX(0px);
    transition: transform 0.6s ease;
 }
 
.dropdown-menunotselect__helpicon{
    transform: translateX(2000px);
    transition: transform 0.6s ease;
} 
.dropdown-menunotselecteff__helpicon{
    transform: translateX(0px);
    transition: transform 0.1s ease;
    visibility: visible;
}

/** nav and media query **/
.message__center__helpicon::-webkit-scrollbar {
	width: 4px;
}

/* Track */
/* Handle */
.message__center__helpicon::-webkit-scrollbar-track{
    background: #d8d5d5; 
    border-radius: 2px;
	visibility: hidden;
}
.message__center__helpicon::-webkit-scrollbar-track:hover{
    background: #d8d5d5; 
    border-radius: 2px;
	visibility: visible;
}
/* Handle on hover */
.message__center__helpicon::-webkit-scrollbar-thumb{
	background-color: #adadad;  
}

@media(max-width:767px){
	.header__helpicon__dropdown{
		position: relative;		
	}
	.message__helpicon__overscroll{
		overflow-y:scroll;
		    height: 430px;
	}	
	.dropdown-menunoteff__helpicon{    
       transform: translateX(-233px);
	   transition: transform 0.6s ease;
	   visibility: visible ;
	} 
}
@media(max-width:992px) and (min-width:768px){
    .dropdown-menunoteff__helpicon {
        transform: translateX(-160px);
        transition: transform 0.6s ease;
        visibility: visible;
    }
}
@media(max-width:1024px) and (min-width:993px){
    .dropdown-menunoteff__helpicon {
        transform: translateX(-155px);
        transition: transform 0.6s ease;
        visibility: visible;
    }
}
.mail__select__helpicon{
    width: 320px;
	overflow: auto;
	padding-bottom: 0px;
	height: 470px;
}
.dropdown-menunotselect__helpicon {
	border: 1px solid rgba(120, 130, 140, 0.13);
	border-radius: 0px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05)!important;
	-webkit-box-shadow: 0px!important;
	-moz-box-shadow: 0px!important;
	
}
#hb1{
	/*display: none;*/
	cursor: pointer;	
}
.selectform__search__helpicon{
	display: flex;
	position: relative;
	margin: 0px;
}
.mail__back__helpicon{
	border-bottom: 1px solid #d9d9d9;
	list-style: none;
	padding-bottom: 6px;
	padding-top: 6px;
	width: 100%;
}
.mail__backtag__helpicon{
	display: flex;    
	color: #000;
	cursor: pointer;
}
.mail__backtag__helpicon:hover{
	text-decoration: none;
	color: #000;
}
.mail__backarrow_back__helpicon {
    color: #6a7070;
	line-height: 1.2;
    font-size: 1.313em;
}
.mail__backclosebtn__helpicon{
    position: absolute;
	top: 15px;
	right: 10px;
	cursor: pointer;
	line-height: 1.5;
	color: #6a7070;
}
.information__select__helpicon{
	padding: 12px;
}
.information__selectimg__helpicon{
	display: block;
	margin: 0 auto;
}
.information__selectheading__helpicon{
	font-size: 1.00em;
	padding-top:5px;
	padding-bottom: 5px;
	font-weight: 700;
}
.information__selectdetails__helpicon{
	font-size: 0.875em;
	margin: 0;
	color: #333333;
}
.information__date__helpicon{
	margin-top: 10rem;
	margin-bottom:0px;
	padding-left:0px; 
	font-size: 0.875em;
	color: #a2a6a6;
	list-style: none;
}
/************************************************** help css end *******************************************************/

/************************************************** information css start *********************************************/
 .mail__select{
	width: 320px;
	overflow: auto;
	padding-bottom: 0px;
	height: 470px;
}
.dropdown-menunotselect {
	border: 1px solid rgba(120, 130, 140, 0.13);
	border-radius: 0px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05)!important;
	-webkit-box-shadow: 0px!important;
	-moz-box-shadow: 0px!important;
	/* padding-bottom: 8px;
	padding-top: 8px;
	margin-top: 0px; */
	
}
/* #b1{
	transform: translateX(0px);
	transition: transform 0.6s ease;
	visibility: visible ;
} */
#b1{
	/*display: none;*/
	cursor: pointer;	
}
.selectform__search{
	display: flex;
	position: relative;
	margin: 0px;
}
.mail__back{
	border-bottom: 1px solid #d9d9d9;
	list-style: none;
	padding-bottom: 6px;
	padding-top: 6px;
	width: 100%;
}
.mail__backtag{
	display: flex;    
	color: #000;
	cursor: pointer;
}
.mail__backtag:hover{
	text-decoration: none;
	color: #000;
}
.mail__backarrow_back {
    color: #6a7070;
	line-height: 1.2;
    font-size: 1.313em;
}
.mail__backclosebtn{
	position: absolute;
	top: 15px;
	right: 10px;
	cursor: pointer;
	line-height: 1.5;
	color: #6a7070;
}
.information__select{
	padding: 12px;
}
.information__selectimg{
	display: block;
	margin: 0 auto;
}
.information__selectheading{
	font-size: 1.00em;
	padding-top:5px;
	padding-bottom: 5px;
	font-weight: 700;
}
.information__selectdetails{
	font-size: 0.875em;
	margin: 0;
	color: #333333;
}
.information__date{
	margin-top: 10rem;
	margin-bottom:0px;
	padding-left:0px; 
	font-size: 0.875em;
	color: #a2a6a6;
	list-style: none;
}
/************************************ information css end ************************************/