:root {
	--white: #fefefe;
	--strongblue: #387392;
	--pinkswan: #b4b4b4;
	--aquamarine: #60c0b6;
	--gray20: #333333;
	--deepyellowgreen:  #84be00;
	--brightorange: #ed983f;
	--hotpink: #EA067E;
	--dimgray: #6a7070;
	--black: #000000;
	--pearsonblue: #007FA3;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
}
@font-face {
    font-family: 'PlayFairRegular';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
    font-family: 'PlayFairBold';
    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
    font-family: 'PlayFairBlack';
    src: url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}


html,body {
	font-family: 'OpenSansRegular';
	font-size: 100%;
	font-weight: 400;
	background-color: #f7f6f6;
	color: #333;
	height:100%;
}
.dashboard__main {
    height: 100%;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
i.material-icons:before{display:none;}

/* font variation accessibility start*/ 
.dashboard__main--normal {
    font-size: 1rem;
}

.dashboard__main--large {
    font-size: 1.125rem;
}

.dashboard__main--small {
    font-size: 0.875rem;
}
/* font variation accessibility end*/

/*reset css start*/
*, *:focus {
	outline: 0;
	border: 0; 
	box-shadow: 0;
}

*:focus {
	outline: 1px solid #ccc;
	outline-offset: 1px;
	box-shadow: none;
}
button:focus, .btn:focus {
	outline: 1px solid #ccc;
	outline-offset: 1px;
	box-shadow: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,h2,h3,h4,h5,h6, p {
	margin-bottom: 0px;
}

a:hover{
	text-decoration: none;	
	color: 	inherit;
}

/*reset css end*/