.markentry__bulkupload__four__failedpopupvalidation {
    width: 45%;    
    background: #fff;
    border-left: 3px solid #19a5a3;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;;
    border-radius: 2px;
    padding: 20px 30px;
    position: fixed;
    z-index: 1;
    top: 10%;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
    -moz-box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
    box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
}
.markentry__bulkupload__four__failednotificationbutton {
    background: none;
    border: 0;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    color: #848989;
}	
.markentry__bulkupload__four__failedvalidationtext{
    vertical-align: middle;
    display: inline-block;
    color: #414141;
    font-size: 0.913em;
    font-weight: 600;
}
@media (max-width:990px) {
   .markentry__bulkupload__four__failedpopupvalidation {    
        top: 13%;    
    }
}
@media (max-width:767px) {
    .markentry__bulkupload__four__failedpopupvalidation {
        width: 100%;
        padding: 16px 12px;
        height: inherit;       
         z-index: 9999;
    }  	
}
@media (max-width:576px) {   
  .markentry__bulkupload__four__failednotificationicon{
        font-size:0.750em;
  }
  .markentry__bulkupload__four__failedvalidationtext {
         vertical-align: middle;
         display: unset;
    }
}
