.dashboard {
	padding-top: 65px;
}
.dashboard__menu {
	width: 210px;
	/* background: #101f2f; */
	background: #fff;
	color:#73797b;
	height: 100%;	
	position: fixed;
    top: 65px;
	transition: .1s;
}
.dashboard__menu {
    overflow-y: hidden;
}
.dashboard__menu:hover {
    overflow-y: scroll;
}
.dashboard__menu:hover {
	overflow-y: hidden;
}   
.sidebar-expanded {
	width: 210px;
}
.dashboard__menu--overshow {
	position: relative;
	z-index: 2;
}
.dashboard__menuovershow--theme-white {
	padding: 0!important;
}
.list-group-item.active {
	z-index: 2;
    color: #007fa3;
    background-color: #f7f6f6;
    border-left: 3px solid #007fa3 !important;
	border-color: unset; 
	border-bottom: 1px solid #f5f5f5;
	font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.dashboard__menu--list {
	margin: 0px auto;
	width: 100%;
}
.dashboard__menu--list-icon {
	vertical-align: middle;
}

.list-unstyled{	
	font-size: 0.750em;
	/* text-decoration: underline; */
	text-align: center;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;	
	color: #007fa3;
}
.sidebar-submenusublist{
	height: 12%;    
	width:210px; 
}
.sidebar-submenusublistexp{
	width: 60px;
}
.menu__dseview{
	display:block !important;
}
.list-group-item{
	width: 100%;
	color: #252525;
	text-align: inherit;	
	font-size: 0.875em;
	padding:20px 16px;
	cursor:pointer;
	border-radius: unset !important;
	border: unset;
	border-bottom: 1px solid #f5f5f5;
	background-color: transparent;
	margin-bottom: 0px;
	border-left: 3px solid #fff !important;
	font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
}
.dashboard__menuuserdetails{
	display: none;
}
.dashboard__menuuserdetails{	
	white-space: nowrap; 
	position: relative; 
	width: 100%; 
	padding: 10px 1px;
	overflow: hidden;
	display: inline-flex;
}
.dashboard__menuuserdetailsimage{
	width: 100%;
	max-width: 45px;
	height: auto;
}
.dashboard__menuuserdetailsinfo {
	padding: 5px 5px 5px 15px;
	line-height: 1;
	position: absolute;
	left: 43px;             
}
.dashboard__menuuserdetailsname{
	font-weight: 600;
	margin-bottom: 9px;
	font-size: 0.875em;
	color: #fff;
}
.dashboard__menuuserdetailsdest{
	text-decoration: none;
	padding-right: 5px;
	margin-top: 3px;
	font-size: 0.750em;
	color: #fff;
}
.dashboard__menuuserdetailsicons{
	border-radius: 16px;
	position: absolute;
	top: 15px;
	right: -29px;
	font-size: 1.250em;
	border: 1px solid #000;
	color: #fff;
	background: #000;
}
.dashboard__menuuserdetailsclose{
	width: 30px;
	height: 30px;
	line-height: 30px;
	/* text-align: center; */
	position: absolute;
	top: -15px;
	right: -5px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.dashboard__menuuserdetailscloseicons{
	position: fixed;
	color: #fff;
	font-size: 1.800em;
	padding: 6px;
}
.dashboard__menu--scroll {
	margin: 0px auto;
	width: 210px;
	position: fixed;
	height: 66%;
	/* overflow-y: scroll; */
	overflow-y: hidden;
}
.dashboard__menu--scroll:hover {
    overflow-y: scroll;
}
.dashboard__menu--scrollexp {
	width: 60px!important;
} 
.sidebar-collapsed {
    width: 60px;
}
.menu__mobileview{
	display:none !important;
}
#mobile_icon {
    display: none;
}
.submenu-icon {
	 position: absolute;
    /* right: 5px;
    top: 50%;
	margin-top: -10px; */
	/* padding-left:10px; */
	left:160px;
}
.copyright__details{
	height:100px;
	left: 12px;
	border-top: 2px solid #e8e8e8;    
    padding-top: 12px;
	/* font-size:0.75em; */
}
.copyright__detailscol {
    height: 100px;
    left: 12px;
    border-top: 2px solid #e8e8e8;
    padding-top: 12px;
    text-align: center;
}

.copyright{
	font-size: 0.688em;	
	list-style: none;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #252525;
	padding: 2px;
}
.copyright__icon{
	font-size: 0.688em;
	font-weight: 600;	
}
.copyright__detailsterms{
	display:inline-block;	
}
.list-unstyledexp{
	display: inline-block;
    /* float: right; */
    font-size: 0.750em;
	padding-right: 0px;
	padding-left: 0px;
    color: #73797b;
    text-decoration: underline;
    list-style: none;
	/* padding-left: 10px;
	padding-right: 12px; */
}
.showhide {
	display: none;
}

@media(min-width:320px) and (max-width:767px){
	.sidebar-submenusublist {
		/* border-top: 1px solid #ccc; */
		width: 100%;
		background: #fff;
		z-index: 9999
	}
	.dashboard__menu {
		z-index: 99999;
		top: 0;
	}
	.menu__mobileview{
		display:block !important;
		background-color: #314f80;
		border-left: unset !important;
	}
	.dashboard__menuuserdetails{
		display: block;					
	}
	.menu__dseview{
		display:none !important;
	}
	.dashboard__menu--scroll {
		/* width: 100% !important; */
		overflow-y: scroll;
	}
	.header__logo {
		padding-right: 8px;
	}
	.copyright__details{
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media(max-width:992px) and (min-width:768px){	
	.list-group-item{
		font-size: 0.750em;
		padding: 12px;
	}
	.list-unstyled {
		font-size: 0.625em;
		padding-right: 6px;
	}
	.copyright {
		font-size: 0.625em;
		padding-right: 0;
		padding-left: 0;
	}		
	.header__logo {
		float: right;
	}
}

@media (max-width: 991px){
	#sidebar-container {
		 z-index: 99999;
		 top: 0; 
		transform: translateX(-100%);
	}
	#mobile_icon {
		display: block;
		float: left;		
		padding-left: 10px;
	}
	.main {
		transform: translateX(0%) !important;
	}
	.header__logo--pearson{
		display: block;
		float: right;
		vertical-align: middle;
		margin-top: -5px;
		padding-left: 10px;
	}
	.header__logo{
		display: none;
	}
}

/** nav and media query **/
.dashboard__menu--list::-webkit-scrollbar,.dashboard__menu::-webkit-scrollbar  {
	width: 4px;
	background: #f7f6f6;
}

/* Track */
.dashboard__menu--list::-webkit-scrollbar-track :hover,.dashboard__menu::-webkit-scrollbar-track:hover{  
	box-shadow: inset 0 0 5px #46515a;  
    border-radius: 2px;
}

/* Handle */
.dashboard__menu--list::-webkit-scrollbar-track,.dashboard__menu::-webkit-scrollbar-track {
    background: #d8d5d5; 
    border-radius: 2px;
	visibility: hidden;
}
.dashboard__menu--list::-webkit-scrollbar-track:hover,.dashboard__menu::-webkit-scrollbar-track:hover {
    background: #d8d5d5; 
    border-radius: 2px;
	visibility: visible;
}
/* Handle on hover */
.dashboard__menu--list::-webkit-scrollbar-thumb,.dashboard__menu::-webkit-scrollbar-thumb{
	background-color: #adadad;
   /*  opacity: 0.9;
	box-shadow: inset 0 0 5px #46515a; 
	border-radius: 5px; */
}

/** Edge **/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .list-group { line-height: 0; display: block;}
  /* .dashboard__menu{height:88%;} */
}
@supports (-ms-ime-align:auto) {
    .showhide {
		display: unset;
	}
}
/** Edge **/
/**IE10 and IE11 **/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.list-group { line-height: 0; display: block;}
	body{
		font-family:'Open Sans';
		font-style:condensed;
		font-size: 100%;
		font-weight: 400;
		background-color: #f7f6f6;
		color: #333;
		height:100%;
	}
	.list-group-item.active {
		z-index: 2;
		color: #73797b;
		background-color: #f7f6f6;
		border-left: 3px solid #007fa3 !important;
		border-color:unset;
		border-bottom: 1px solid #f5f5f5;
	}
}
/**IE10 and IE11 **/




.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}
.animated.delay-6s {
    -webkit-animation-delay: 6s;
    animation-delay: 6s
}
.animated.fast {
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

.animated.faster {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

@media (prefers-reduced-motion) {
    .animated {
        -webkit-animation: unset!important;
        -webkit-transition: none!important;
        animation: unset!important;
        transition: none!important
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translate3d(-10%,0,0);
        opacity: 0;
        transform: translate3d(-10%,0,0)
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translate3d(-10%,0,0);
        opacity: 0;
        transform: translate3d(-10%,0,0)
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInDown {
    animation-name: fadeInDown
}
.header__notification--dropbody {
    background-color: #f8f7f7;
    height: 250px;
    overflow-y: scroll;
    border-radius: 4px;
    list-style: none;
    padding-left: 0;
}
@media (max-width: 576px){
	.sidebar-expanded {
		width: 80%;
	}
	.dashboard__menu--scroll {
		width: 100%;
	}	
	.sidebar-submenusublist {		
		width: 100%;
		height: 8%;
	}
	.copyright__details {
		padding-top: 0;
		background: #fff;
	}
		
}