/*modal common styling start */
.dashboard__modal {
    position: fixed;
    z-index: 100000000;
    left: 0;
    top: 0;
    padding-right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    
}

.dashboard__modaltcontent {
    border: 0px;
    border-radius: 0px;    
}
.dashboard__modaldialog {
    max-width: 45%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}
.dashboard__modaltcontent {
    padding: 35px 35px 35px 35px;
}
/*modal common styling end */
.dashboard__modaltcontent--markentry {
    padding: 35px 15px 35px 15px;
}
.modal__closebutton {
    background: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 10px;
    cursor: pointer;
}
.nav__markentrybutton {
    padding: 20px 15px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin: 5px 10px;
    color: #333;
}
.nav__markentrytext {
    padding: 0px 15px;
    font-size: 1em;
}
.modal__heading  {
    font-size: 1.250em;
    margin: 20px 0px;
}


  /*media query start */
@media (max-width: 768px) {
    .dashboard__modaltcontent {
        padding: 15px 20px 15px 20px;
        margin: 0px;
    }
    .dashboard__modaldialog {
        max-width: 100%;
        overflow:hidden;
    }
}

/*modal window style end */