/* Upload Progress Bar Start */

.upload__window {
    background: white;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 25px;
    width: 30%;
    position: absolute;
    top: 75%;
    bottom: 0;
    margin: 0 auto;
    left: 15%;
    right: 0;
    height: 150px;
    box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.2);
}
.upload__head {
    font-size: 0.875em;
    margin: 0px 2px;
    color: #565656;
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    padding-bottom:15px;
}

.upload__btn--icon {
    display: inline-block;
    color: #fff;
    padding: 3px 3px;
    border-radius: 50%;
    font-size: 0.875em;
    background: #ea7081;
}
.upload__btn {
    display: inline-block;
}
.upload__btn--close, .upload__btn--close:focus {
    background: none;
    border: none;
}
.upload__loader {
    margin-top: 10px;
}
.upload__percentage{
    font-size: 0.813em;
    font-weight:bold;
}
.upload__loader--outline {
    position: relative;
    width: 100%;
    height: 4px;
    background: #ccc;
    float: left;
}
.upload__loader--inline {
    position: absolute;
    left: 0;
    width: 25%;
    height: 8px;
    background: #51a6a4;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    top: -2px;
}
.upload__filenametext{
    font-size: 0.75em;
    font-weight: 600;
    text-align: left;
}

/* Upload Progress Bar End */


/* mark entry bulk upload navigation Start */
.markentryNavigation{
    background: #fff;
    padding:15px 0px 15px 0px;
}

.markentryNavigation__student{
    padding: 15px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: unset;
    border-bottom: unset;
}

.uploadnav__buttontablist {
    display: inline-block;
}

.uploadnav__buttontabitem{
    display: inline-block;
    font-size: 13px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #e7e7e7;
    padding: 3px 13px;
    margin-right: 5px;
    color: #ccc;
    text-transform: capitalize;
    cursor: pointer;
}

.uploadnav__buttontabitem:hover {
    color: #ccc;
}

.uploadnav__buttontabitem--success {
    display: inline-block;
    font-size: 13px;
    background-color: #ffffff;
    border: solid 1px #e7e7e7;
    padding: 3px 13px;
    margin-right: 15px;
    color: #ccc;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 20px;
}

.uploadnav__buttontabitem--success.active {
    background-color: #12b2a6;
    box-shadow: 0 2px 4px 0 #71b9b3;
    border: solid 1px #12b2a6;
    color: #fff;
}

.uploadnav__buttontabitem--success:hover{
    background-color: #12b2a6;
    box-shadow: 0 2px 4px 0 #71b9b3;
    border: solid 1px #12b2a6;
    color: #fff;
}

.uploadnav__buttontabitem--success.active .countBadge--color{
    color: #fff;
}

.uploadnav__buttontabitem--success:hover .countBadge--color{
    color: #fff;
}

.uploadnav__buttontabitem--failure {
    display: inline-block;
    font-size: 13px;
    background-color: #ffffff;
    border: solid 1px rgba(219, 2, 0, 0.68);
    padding: 3px 13px;
    color: rgba(219, 2, 0, 0.68);
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 20px;
}

.uploadnav__buttontabitem--failure .countBadge--color{
    color: rgba(219, 2, 0, 0.68);
}

.uploadnav__buttontabitem--failure:hover{
    color: #fff;
    background-color: rgba(219, 2, 0, 0.68);
    border: none;
    box-shadow: 0 2px 4px 0 rgba(219, 2, 0, 0.68);
}

.uploadnav__buttontabitem--failure:hover .countBadge--color{
    color: #fff;
}

.uploadnav__buttontabitem--failure.active{
    color: #fff;
    background-color: rgba(219, 2, 0, 0.68);
    border: none;
    box-shadow: 0 2px 4px 0 rgba(219, 2, 0, 0.68);
}

.uploadnav__buttontabitem--failure.active .countBadge--color{
    color: #fff;
}

.countBadge {
    margin: 0 0 0 7px;
}

.studentCountColor{
    color: #eda458;
}

.studentCountColor small{
    color: #000;
    padding-left: 12px;
    font-size: 1em !important;
}

.countBadge--color{
    color: #000;
}

.markentryNavigation__buttontablist {
    margin-left: 10px;
}

.markentryNavigation__rightbutton {
    font-size: 0.875em;
}

.markentry__submitbutton{
    background: #fff;
    padding: 5px 25px;
    border-radius: 3px;
    color: #000;
    border: 1px solid #cbcbcb;
    cursor: pointer;
}

.markentry__submitbutton.inactive{
    color: #93c9d8;
    border: 1px solid #93c9d8;
    pointer-events: none;
}

.markentry__submitbutton.disabled.inactive{
    pointer-events: none;
    background: #7fbfd1;
    color: #fff;
}

.markentry__submitbutton.active{
    background: #007fa3;
    color: #fff;
}

.markentry__submitbutton.disabled{
    pointer-events: none;
}

.markentry__submit--assessmentcontainer{
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: #007fa3;
    float:left;
    text-align: center;
}

.markentry__submit--assessmentcontainer.active{
    background-color: #007fa3;
    cursor: pointer;
}

.markentry__submit--assessmenticon {
    width: 11px;
    height: 13px;
    object-fit: contain;
    margin: 10px 0;
}

.markentry__submit--assessmenticon.active {
    color: #007fa3;
}

.markentry__submitbutton-lockicon {
    border: none;
    color: #9b9b9b;
}

.markentry__submitbutton-lockicon {
    color: #9b9b9b;
    font-size: 1.375em;
    vertical-align: middle;
    padding: 0px 0;
    pointer-events: none;
}

.markentry__submitbutton-lockicon.updated{
    color:#d0021b;
}

.markentry__submitbutton-lockicon .material-icons{
    font-size: 20px;
}
.studentCountColor{
    line-height: 2.5 !important;
}
    /* mark entry bulk upload navigation End */


/* Marks Entry Table Css Start */
.markname__table th, .mark__table th, .gradescore__table th, .marksum__name th{
    padding: 0.75rem;
}

.markname__table td, .mark__table td, .gradescore__table td, .marksum__name td{
    height: 65px;
    padding: 0 0.75rem;
}

#mark__container .table{
    margin-bottom:0;
}

#mark__container .table thead th, #mark__container .table tbody td{
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
}

.markname__table thead th, .markname__table tbody td, .gradescore__table thead th, .gradescore__table tbody td{
    background-color: #ffffff;
}

.markname__table th:first-child{
    width: 300px;
}

.markname__table .markname__table--exam{
    background-color: #fefef8;
}

.arrow__sort{
    float: right;
    line-height: 0.7;
    cursor: pointer;
    color:#bfbfbf;
}

#mark__container .roll__call{
    width:65px;
}

#mark__container .roll__no{
    width:65px;
    line-height: 2.3;
    font-weight:normal;
}

#mark__container h6{
    margin-bottom: 0px;
    font-size: 0.875em;
    font-weight: 600;
}

.student__content .student__content--avatar{
    margin:0 5px 0 0px;
}

.student__content .student__content--name{
    font-weight: normal;
    display: inline-block;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}

.student__content .student__contentck--name{
    font-weight: normal;
    display: inline-block;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}

#mark__container .form-control{
    width: 50px;
    margin: 0 auto;
    font-size: 0.875em;
    padding: 7px 5px;
    border-radius: 0;
    text-align: right;

}

#mark__container .form-control:focus {
    border:1px solid #ced4da;
    box-shadow:none;
}

.markentry__table{
    overflow-x:auto;
}

.markentry__table::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.markentry__table::-webkit-scrollbar{
    height: 10px;
    background-color: #F5F5F5;
}

.markentry__table::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #555;
}

.mark__table th, .mark__table td{
    background-color: #f8fbfc;
}

.gradescore__table td .gradescore__table--score{
    padding: 10.5px 0px 10.5px 10.5px;
}

.gradescore__table td .gradescore__table--grade{
    padding: 10.5px;
}

.gradescore__table td .gradescore__table--update{
    font-weight:normal !important;
    padding: 10.5px;
    text-decoration:underline;
}

.gradescore__table td .gradescore__table--update:hover{
    color:#007fa3;
    text-decoration:underline;
}

.bg__warning{
    border:1px solid #f00;
}

#mark__container .form-control.bg__warning:focus {
    border:1px solid #f00;
}

.marksum__name th:nth-child(2){
    width: 300px;
}

.marksum__name .markname__table--exam{
    background-color: #fefef8;
}

.marksum__name--exam label{
    margin: 0;
    display: block;
    line-height: 1;
}

.marksum__table{
    display:none;
}

.gradescore__table--update{
    color:#007fa3;
}

.checkbox__table {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox__table input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark__table {
    position: absolute;
    top: -8px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}
.checkbox__table input:checked ~ .checkmark__table:after {
    display: block;
}

.checkbox__table .checkmark__table:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark__table:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox__table input:checked ~ .checkmark__table {
    background-color: #12b2a6;
    border-color: #12b2a6;
    border-radius: 3px;
}
/* Marks Entry Table Css End */

/* Class Analysis Box Css start */
#bulk__upload {
    position: relative;
}

#assessmentIcon, #bulk__upload{
    transition: .5s;
}

.main{
    padding-right: 250px;
}

.classAnalysisbox{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    transition:ease all 0.2s;
    width: 0;
}

.classAnalysisbox.show{
    opacity: 9;
    display: block;
    transition:ease all 0.2s;
    height: 100%;
    border-left:1px solid #e3e3e3;
    width: 250px;
    padding: 15px 10px 0 10px;
}

.classAnalysisbox__bodytext {
    background: #f1f8fa;
    font-size: 0.875em;
    padding: 15px 5px 15px 15px;
}

.classAnalysisBox__closeicon{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #999;
    cursor: pointer;
}

/* Class Analysis Box Css end */

/* tooltip */
.unitestHeading__span{
    border: 1px solid #007fa3;
    font-size: 0.875em;
    color: #007fa3 !important;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 25px;
    height: 23px;
    float: left;
    padding: 2px 3px;
    margin: -2px 0;
}
.unitestHeading__tooltiphover i {
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.unitestHeading__tooltiphover i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.unitestHeading__chaptersmarkprg {
    font-size: 0.875em;
    font-weight: 600;
}

.unitestHeading__tooltipr:hover .unitestHeading__tooltiphover{
    display: block;
}

.student__content--name:hover .student__contenttooltiphover--name{
    display: block;
}

.student__contenttooltiphover--name {
    text-align: left;
    transform: translate(0, 0);
    padding: 10px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    white-space: normal;
    border-radius: 5px;
    left: 55px;
    top: 88px;
}

.student__contenttooltiphover--name i {
    position: absolute;
    bottom: 100%;
    left: 40%;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.student__contenttooltiphover--name  i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.student__contentck--name:hover .student__contenttooltiphoverck--name{
    display: block;
}

.student__contenttooltiphoverck--name {
    text-align: left;
    transform: translate(0, 0);
    padding: 10px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    white-space: normal;
    border-radius: 5px;
    left: 159px;
    top: 88px;
}

.student__contenttooltiphoverck--name i {
    position: absolute;
    bottom: 100%;
    left: 40%;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.student__contenttooltiphoverck--name  i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.student__contenttooltiphoverprg{
    font-size: 0.875em;
    font-weight: 600;
}

.bg__warning--hover {
    text-align: left;
    transform: translate(0, 0);
    padding: 8px 12px;
    color: #444444;
    font-weight: normal;
    position: absolute;
    box-sizing: border-box;
    display: none;
    white-space: normal;
    left: 0px;
    top: 60px;
    width: auto;
    z-index: 999;
    background: #FEEEF0;
    border: 1px solid #EFC0C0;
    box-shadow: 0 3px 4px 0 rgba(0,0,0, 0.10);
    border-radius: 2px;
}

.bg__warning--hover i {
    position: absolute;
    bottom: 100%;
    left: 53px;
    width: 27px;
    height: 12px;
    overflow: hidden;
    border: 1px;
}

.bg__warning--hover i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #feeef0;
    box-shadow: 0px 0px 5px rgb(239, 192, 192);
    border: 1px solid #EFC0C0;
}

.bg__warning--prg{
    font-size: 0.75em;
    font-weight: 600;
    color: #f00;
    width: auto;
    white-space: nowrap;
}

.bg__warninginp:hover .bg__warning--hover{
    display:block;
}

.bg__warninginp:hover .bg__warning--hoverlast{
    display:block;
}

.bg__warninginp {
    position: relative;
}

.bg__warning--hoverlast {
    text-align: left;
    transform: translate(0, 0);
    padding: 8px 12px;
    color: #444444;
    font-weight: normal;
    position: absolute;
    box-sizing: border-box;
    display: none;
    white-space: normal;
    left: 0px;
    top: 60px;
    width: auto;
    z-index: 999;
    background: #FEEEF0;
    border: 1px solid #EFC0C0;
    box-shadow: 0 3px 4px 0 rgba(0,0,0, 0.10);
    border-radius: 2px;
}

.bg__warning--hoverlast i {
    position: absolute;
    bottom: 100%;
    right: 15px;
    width: 27px;
    height: 12px;
    overflow: hidden;
    border: 1px;
}

.bg__warning--hoverlast i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #feeef0;
    box-shadow: 0px 0px 5px rgb(239, 192, 192);
    border: 1px solid #EFC0C0;
}

.bg__warning--prglast{
    font-size: 0.75em;
    font-weight: 600;
    color: #f00;
    width: auto;
    white-space: nowrap;
}
/* tooltip */

/* Css For Vertical Graph Starts */
.vsvg {
    width: 100%;
    margin: 0 auto;
}

.vsvg #svg__container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.vsvg .svg__content__responsive{
    position: absolute;
    top: 0;
    left: 0;
}

.axis {
    font-size: 26px;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: geometricprecision;
}

.axis--x .domain{
    stroke:#000000;
}

.axis--y .domain{
    stroke:#178394;
    stroke-width: 2px;
}

.grid line {
    stroke: #bbe3dc;
    stroke-opacity: 1;
    shape-rendering: geometricprecision;
}

.grid path {
    stroke:#bbe3dc;
}

svg text.label {
    fill: #000;
    font-size: 30px;
    font-weight: 600;
    text-anchor: middle;
}

.xbar__text, .ybar__text{
    font-size: 35px;
    fill: #838383;
    font-weight: 600;
}
/* Css For Vertical Graph Ends */

/* Submit for Approval popup css start */
.modal-content{
    border:none;
}

.submitMarksWidthPopupWidth {
    max-width: 630px;
    padding-top: 160px;
}

.popupcancelsetup__model{
    width:100%;
    height:100%;
    position:absolute;
    display:table;
}

.popupcancelsetup__modelbody{
    display:table-cell;
    vertical-align:middle;
}

.popupcancelsetup__message{
    width:100%;
    background:#fff;
    margin:0 auto;
    padding: 45px;
    border-radius: 2px;
}

.popupcancelsetup__headtext{
    font-size: 1.500em;
}

.popupcancelsetup__paragraph{
    font-size: 0.875em;
    font-weight: 500;
    width: 100%;
    color: #515151;
    margin: 10px 0;
}

.popupcancelsetup__comment--can{
    background: #e9e9e9;
    border: 1px solid #a59f9f;
    border-radius: 2px;
    padding: 5px 15px;
    font-size: 0.875em;
    font-weight: 600;
}

.popupcancelsetup__comment--deleted{
    background: #047a9c;
    color: #fff;
    border: 1px solid #2A9FD8;
    padding: 5px 20px;
    font-size: 0.875em;
}

.modal{
    z-index: 10000;
}

.modal-backdrop.show{
    z-index: 9999;
}

/* Submit for Approval popup css end */


