

/* No Exam Selected Start */
.student__rpcardnoexam {
   /*background-image: url(../images/bg__report.png);*/
   background-repeat: no-repeat;
   background-position: center center;
   padding: 0px 50px;
   margin: 80px 0px;
   text-align: center;
}
.student__rptext {
   font-size: 0.875em;
}
.student__rpcardnoexambox {
   width: 50%;
   margin: auto;
}
.student__rptext--second {
   background-color: #fff;
   display: inline-block;
   padding: 9px 20px;
   border-radius: 50px;
   border: 1px solid #eeeeee;
}
/* No Exam Selected End */

/* Periodic Test Heading Start */
.marks--approval__template {
    margin-bottom: 20px;
}

.marks--approval__boldtext {
    color: #000;
    font-weight: 600;
    font-size: 0.875em;
    line-height: 2.2;
}

.marks--approval__text {
    color: #838383;
    font-size: 0.875em;
    line-height: 1.3;
    margin-left: 15px;
}

.marks-approval__subject--number {
    border-radius: 30px;
    background-color: #e3e3e3;
    font-weight: 600;
    margin-left: 10px;
    padding: 3px 18px!important;
}

.marks--approval__date{
    font-size: 0.75em;
    line-height: 2.5;
}

.marks-approval__date--value {
    border-radius: 30px;
    background-color: #e3e3e3;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px 20px;
}

.marks--entry__select {
    padding: 5px 25px 5px 5px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    font-size: 0.813em;
    margin-left: 5px;
}

button:disabled, button[disabled] {
    border: 1px solid #999999;
    background-color: #9b9b9b;
    color: #ffffff;
    font-size: 0.750em;
    border-radius: 2px;
    margin: 0 0 0 15px;
    padding: 5px;
}

.white-disabled{
    border: 1px solid #999999;
    background-color: #ffffff;
    color: #a8a8a8;
    font-size: 0.75em;
    border-radius: 2px;
    margin: 0 0 0 15px;
    padding: 5px;
}

.marks--approval__bluebutton{
    border: 1px solid #007fa3;
    background-color: #ffffff;
    color: #0a84a7;
    font-size: 0.75em;
    border-radius: 2px;
    margin: 0 0 0 15px;
    font-weight: 600;
    padding: 5px;
}

.marks--approval__yellowbutton{
    border: 1px solid #ffb81c;
    background-color: #ffb81c;
    color: #000;
    font-size: 0.750em;
    border-radius: 2px;
    margin: 0 0 0 15px;
    font-weight: 600;
    padding: 5px;
}

.display {
    display: inline-block;
}
/* Periodic Test Heading End */

/* Mark Approval For Subjects Tab Start */
.marksapproval__cardtabs .marksapproval__cardlink {
    margin-bottom: 0;
    height: 140px;
    float: left;
    width: 100%;
}

.marksapproval__cardtabs{
    border-bottom: unset;
	display: flex;
	flex-wrap: nowrap;
	overflow-y: hidden;
	width: 850px;
	overflow-x: auto;
}
.marksapproval__cardtabs .nav-link:hover, .marksapproval__cardtabs .nav-link:focus {
    border-color: transparent;
}
.marksapproval__cardnavelink{
	padding: 0;
    margin: 0 10px 0 0;
}
.marksapproval__cardlink{
    padding: 0px;
    border: unset !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
    border-radius: 0 !important;
    /* margin:0 10px 0 0; */
    width: 160px;
    height: auto;
}
.marksapproval__cardlink:hover,.marksapproval__cardlink:focus,.marksapproval__cardlink:active{
    border: unset !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
    border-radius: 0;
}
.nav-tabs .marksapproval__cardlink.active, .nav-tabs .nav-item.show .marksapproval__cardlink {
    color: unset !important;
    background-color: transparent !important;
    border-color:unset !important;
}
.nav-tabs .marksapproval__cardlink.active .marksapproval__card{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
}
nav > ul li a.marksapproval__cardlink.active:after {
    content: "";
    position: relative;
    bottom: -8px;
    left: 65px;
    border: 9px solid transparent;
    border-top-color: #fff;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3));
}
.marksapproval__cardlink:hover, .nav-tabs .marksapproval__cardlink:focus {
    border-color: unset;
    border: none;
    outline: unset;
}
.marksapproval__card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.marksapproval__card--img{
    max-width: 100%;
    height: auto;
}
.marksapproval__cardtick{
    position: absolute;
}
.marksapproved__cardtickradius{
    width: 21px;
    height: 21px;
    background-color: #84bd00;
    position: relative;
    left: 10px;
    top: 10px;
    bottom: 0;
    border-radius: 50%;
}
.marksapproved__cardtickicon{
    color: #fff;
    width: 8px;
    height: 8px;
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}
.marksapproval__cardblock {
      position: relative;
      padding: 4px;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
}
.marksapproval__cardtext {
    position: absolute;
    top: -17px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    background-color: #007fa3;
    margin: -4px 0 0 -4px;
    padding: 2px;
    opacity: 0.8;
}
.marksapproval__cardtext--details {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    font-size: 0.7em;
    color: #fff;
    vertical-align: middle;
    line-height: 2;
}
.marksapproval__card--title {
    font-weight: 700;
    line-height: 1.2857em;
    font-size: 0.75em;
    margin-top: 0 !important;
    color: #000;
    padding: 2px;
}

/* Mark Approval For Subjects Tab End */


