.popup__show {
  display: block;
}

.popup__hide {
  display: none;
}

/*modal common default styling start*/
.modal__content {
  border: 0px;
  border-radius: 0px;
  padding: 30px 30px;
}
.modal__dialog {
  max-width: 600px;
}
.modal__footer {
  border-top: 0px;
}
/*modal common default styling end*/

/*request generate modal start*/
.modal__requestgeneratesuccessbox {
  display: table;
  height: 374px;
  background-image: url(/images/bg-modal-requestsuccess.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.modal__requestgeneratesuccessimg {
  margin: 40px 0px;
}
.modal__requestgeneratesuccesstextbox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.modal__requestgeneratesuccesstext {
  line-height: 36px;
}
/*request generate modal end*/

/*preview reprort modal start*/
.modal__previewreportcardheading  {
  font-size: 1.5em;
}
.modal__previewreportradio .modal__previewreportradioinput {
display: none;
}
.modal__previewreportradio .modal__previewreportradioinput:checked + .modal__previewreportradiolabel:before {
border-color: #3b7a9c;
animation: ripple 0.2s linear forwards;
}
.modal__previewreportradio .modal__previewreportradioinput:checked + .modal__previewreportradiolabel:after {
transform: scale(1);
}
.modal__previewreportradio .modal__previewreportradiolabel {
display: inline-block;
height: 20px;
position: relative;
padding: 0 30px;
margin-bottom: 0;
cursor: pointer;
vertical-align: bottom;
}
.modal__previewreportradio .modal__previewreportradiolabel:before, .modal__previewreportradio .modal__previewreportradiolabel:after {
position: absolute;
content: '';
border-radius: 50%;
transition: all .3s ease;
transition-property: transform, border-color;
}
.modal__previewreportradio .modal__previewreportradiolabel:before {
left: 0;
top: 0;
width: 20px;
height: 20px;
border: 1px solid #3b7a9c;
}
.modal__previewreportradio .modal__previewreportradiolabel:after {
top: 4px;
left: 4px;
width: 12px;
height: 12px;
transform: scale(0);
background: #6a706f;
}
/*preview reprort modal end*/

/*generate report modal start*/
.modal__generatereportsuccess {
  display: block;
}
.modal__generatereportsuccessbox {
  display: table;
  height: 374px;
  background-image: url(/images/bg-modal-requestsuccess.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.modal__generatereportsuccessimg {
  margin: 40px 0px;
}
.modal__generatereportsuccesstextbox {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 20px;
  text-align: center;
}
.modal__generatereportsuccesstext {
  line-height: 36px;
}
.modal__generatereportlink {
  text-decoration: underline;
}
.button--gotit {
  padding: 0px 25px;
}
.modal__previewreportcheckbox .modal__previewreportcheckboxlabel {
  cursor: pointer;
  display: inline;
  line-height: 18px;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
.modal__previewreportcheckbox .modal__previewreportcheckboxlabel:not(:empty) {
  padding-left: 6px;
}
.modal__previewreportcheckbox .modal__previewreportcheckboxlabel:before, .modal__previewreportcheckbox .modal__previewreportcheckboxlabel:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.modal__previewreportcheckbox .modal__previewreportcheckboxlabel:before {
  width: 17px;
  height: 17px;
  background: #fff;
  border: 1px solid #979797;
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}
.modal__previewreportcheckbox .modal__previewreportcheckboxinput {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.modal__previewreportcheckbox .modal__previewreportcheckboxinput:checked + .modal__previewreportcheckboxlabel:before {
  background: #57b3a6;
  border: none;
}
.modal__previewreportcheckbox .modal__previewreportcheckboxinput:checked + .modal__previewreportcheckboxlabel:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 9px;
  height: 5px;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.modal__previewreportcheckbox .modal__previewreportcheckboxinput:disabled + .modal__previewreportcheckboxlabel:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.modal__previewreportcheckbox .modal__previewreportcheckboxinput:disabled:checked + .modal__previewreportcheckboxlabel:before {
  background: rgba(0, 0, 0, 0.26);
}
/*generate report modal end*/

/*markapproval preview report modal start*/

#studentreportPopup .modal-dialog {
  max-width: 95%;
  margin: 0 auto;

}

.modal-content{
  border-radius: 0;
}

.studentreportPopup__header{
  border: 0;
  background: #075a6f;
  font-size: 0.875em;
  color: #fff;
  border-radius: 0;
  margin: 0 0 20px 0;
}

.studentreportPopup_pdficon{
  color: #fff;
}

.studentreportPopupIcon__list{
  display: inline-block;
  margin: 0 0 0 30px;
  position: relative;
}

.studentreportPopupIcon__list a{
  color: #fff;
}

.studentreportPopupIcon__list--lastchild::after {
  position: absolute;
  background: #377585;
  height: 61px;
  width: 2px;
  content: "";
  left: 0;
  top: -16px;
}

.studentreportPopupIcon__list--lastchild {
  padding-left: 26px;
}

.studentreportPopup__bodycontent{
  width: 850px;
  margin: 0 auto;
}

.studentreportbodyicons {
  font-size: 0.875em;
}

.studentreportbodyicons_name{
  color: #fff;
}

.studentreportbodyicons_Icons{
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 50%;
  color: #000;
}

.studentreportbodyicons_Icons:focus{
  outline: none;
}

.studentreportbodyPdfContent__img{
  width: 100%;
}
#markApprovalPreview .modal-dialog {
  max-width: 100%;
  margin: 0 auto;
}
.modal__markapprovalpreview {
  overflow: auto;
}

/*markapproval preview report modal end*/

/*markapproval Print report modal start*/

#studentreportPrintPopup .modal-dialog {
  max-width: 95%;
  margin: 0 auto;

}

.studentreportPrintPopup__header{
  border: 0;
  background: #075a6f;
  font-size: 0.875em;
  color: #fff;
  border-radius: 0;
  margin: 0 0 20px 0;
}

.studentreportPrintPopup_pdficon{
  color: #fff;
}

.studentreportPrintPopupIcon__list{
  display: inline-block;
  margin: 0 0 0 30px;
  position: relative;
}

.studentreportPrintPopupIcon__list a{
  color: #fff;
}

.studentreportPrintPopupIcon__list--lastchild::after {
  position: absolute;
  background: #377585;
  height: 61px;
  width: 2px;
  content: "";
  left: 0;
  top: -16px;
}

.studentreportPrintPopupIcon__list--lastchild {
  padding-left: 26px;
}

.studentreportPrintPopup__bodycontent{
  width: 850px;
  margin: 0 auto;
}

.studentreportbodyicons {
  font-size: 0.875em;
}

.studentreportbodyicons_name{
  color: #fff;
}

.studentreportbodyicons_Icons{
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 50%;
  color: #000;
}

.studentreportbodyicons_Icons:focus{
  outline: none;
}

.studentreportbodyPdfContent__img{
  width: 100%;
}
#markApprovalPreview .modal-dialog {
  max-width: 100%;
  margin: 0 auto;
}
.modal__markapprovalpreview {
  overflow: auto;
}
.modal__generatereportfailuretextbox {
  color:#b90202;
}
.modal__generatereportsuccessbox--failure {
  display: block;
  height: auto;
}
.modal__generatereportsuccessbox--failuretextbox {
  display: block;
}
/*markapproval preview report modal end*/