<div id="grd_preview"> 
    <div class="row preview__row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-12 align-self-center"> 
            <div class="grade__previewsec">
                <h6 class="grade__previewheading">Preview</h6>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-12 align-self-center"> 
            <div class="grade__scale" aria-label="The grade scales for T1 template are: G3; from 0 to 35, G2; from 36 to 70, G1; from 71 to 100">
                
                <div class="gr__pt3">
                    <div class="cm grade__foottext"></div>
                    <div class="cm grade__foottext"></div>
                    <div class="cm grade__foottext"></div>
                    <div class="cm grade__foottext"></div>
                </div>
            </div>
        </div>
    </div>
</div>