.schoolsetup__notification {
  width: 45%;
  background: #fff;
  border-top: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  border-radius: 2px;
  padding: 16px 30px;
  position: fixed;
  z-index: 1;
  top: 10.5%;
  font-size: 15px;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(148, 139, 148, 0.75);
  -moz-box-shadow: 1px 1px 7px 0px rgba(148, 139, 148, 0.75);
  box-shadow: 1px 1px 7px 0px rgba(148, 139, 148, 0.75);
}
.warning__color{
  border-left: 3px solid #eea520;
}
.success__color{
  border-left: 3px solid #19a5a3;
}
.failure__color{
  border-left: 3px solid  #db0020;
}
.schoolsetup__notificationbutton {
  background: none;
  border: 0;
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
.markentry__bulkupload__validationtext {
  vertical-align: middle;
  display: inline-block;
  color: #414141;
  font-size: 0.875em;
}

.alert__dialoggotitbutton {
  background: none;
  border: 0;
  position: absolute;
  top: 65%;
  right: 1%;
  cursor: pointer;
}