@-webkit-keyframes inputHighlighter {
  from {
    background: #57b3a6; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #57b3a6; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #57b3a6; }
  to {
    width: 0;
    background: transparent; } }
@keyframes radioripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }
.default__tab {
  padding: 20px 0 0; }
  .default__tab .nav__tab {
    color: #838383;
    font-size: 0.875em;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
    .default__tab .nav__tab.active {
      background-color: transparent;
      border: none;
      border-bottom: 4px solid #19a5a3;
      color: #000000;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      font-weight: 500; }
      .default__tab .nav__tab.active:hover {
        background-color: transparent;
        border: none;
        border-bottom: 4px solid #19a5a3;
        color: #000000;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px;
        font-weight: 500; }
    .default__tab .nav__tab:hover {
      background-color: transparent;
      border-color: transparent;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px; }

.tab-pane {
  padding: 0; }

.tab-pane {
  padding: 0; }

.tab__content--link {
  color: #000000;
  font-weight: 600;
  font-size: 0.875em;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  margin-bottom: 5px; }
  .tab__content--link.active {
    background-color: #007fa3;
    color: #ffffff;
    border: none;
    font-weight: normal; }
  .tab__content--link.active:hover {
    background-color: #007fa3;
    color: #ffffff;
    border: none;
    font-weight: normal; }
  .tab__content--link:hover {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #dee2e6; }
	.grade__para.active:hover {
		
	}
.grade__level {
  padding: 15px; }
  .grade__level .grade__scale {
    margin-bottom: 0.4rem; }
    .grade__level .grade__scale__level {
      background-color: #ffffff;
      font-size: 0.625em;
      vertical-align: top;
      border: 1px solid #dee2e6;
      line-height: 1; }
      .grade__level .grade__scale__level .grade__icon {
        vertical-align: top;
        color: #979797; }
        @media only screen and (max-width: 1024px) {
          .grade__level .grade__scale__level .grade__icon {
            vertical-align: middle; } }
      @media only screen and (max-width: 767px) {
        .grade__level .grade__scale__level {
          line-height: 1.2; } }
    @media screen and (max-width: 1024px) {
      .grade__level .grade__scale .grade__icon__container {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 0 0 5px; } }
  @media only screen and (max-width: 767px) {
    .grade__level {
      padding: 15px; } }

.grade__percentage {
  color: #454545;
  font-size: 0.875em;
  font-weight: 600; }
  @media (max-width: 320px) {
    .grade__percentage {
      font-size: 0.75em; } }

.grade__color__indicator {
  font-size: 0.875em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }
  @media (max-width: 320px) {
    .grade__color__indicator {
      font-size: 0.813em; } }

.grade__percentage__pt3 {
  position: relative;
  width: 100%; }
  .grade__percentage__pt3 .grade__percentage__level {
    position: absolute;
    width: auto; }
    .grade__percentage__pt3 .grade__percentage__level:after {
      position: absolute; }
    .grade__percentage__pt3 .grade__percentage__level:nth-of-type(1) {
      left: 0%; }
      .grade__percentage__pt3 .grade__percentage__level:nth-of-type(1):after {
        content: "0"; }
    .grade__percentage__pt3 .grade__percentage__level:nth-of-type(2) {
      left: 33.3%;
      text-indent: -4px; }
      .grade__percentage__pt3 .grade__percentage__level:nth-of-type(2):after {
        content: "35"; }
    .grade__percentage__pt3 .grade__percentage__level:nth-of-type(3) {
      left: 66.6%;
      text-indent: -4px; }
      .grade__percentage__pt3 .grade__percentage__level:nth-of-type(3):after {
        content: "70"; }
    .grade__percentage__pt3 .grade__percentage__level:nth-of-type(4) {
      left: 99.9%;
      text-indent: -11px; }
      .grade__percentage__pt3 .grade__percentage__level:nth-of-type(4):after {
        content: "100"; }
      @media (max-width: 320px) {
        .grade__percentage__pt3 .grade__percentage__level:nth-of-type(4) {
          text-indent: -9px; } }

.grade__percentage__pt5 {
  position: relative;
  width: 100%; }
  .grade__percentage__pt5 .grade__percentage__level {
    position: absolute;
    width: auto; }
    .grade__percentage__pt5 .grade__percentage__level:after {
      position: absolute; }
    .grade__percentage__pt5 .grade__percentage__level:nth-of-type(1) {
      left: 0%; }
      .grade__percentage__pt5 .grade__percentage__level:nth-of-type(1):after {
        content: "0"; }
    .grade__percentage__pt5 .grade__percentage__level:nth-of-type(2) {
      left: 20%;
      text-indent: -5px; }
      .grade__percentage__pt5 .grade__percentage__level:nth-of-type(2):after {
        content: "30"; }
    .grade__percentage__pt5 .grade__percentage__level:nth-of-type(3) {
      left: 40%;
      text-indent: -5px; }
      .grade__percentage__pt5 .grade__percentage__level:nth-of-type(3):after {
        content: "40"; }
    .grade__percentage__pt5 .grade__percentage__level:nth-of-type(4) {
      left: 60%;
      text-indent: -5px; }
      .grade__percentage__pt5 .grade__percentage__level:nth-of-type(4):after {
        content: "60"; }
    .grade__percentage__pt5 .grade__percentage__level:nth-of-type(5) {
      left: 80%;
      text-indent: -5px; }
      .grade__percentage__pt5 .grade__percentage__level:nth-of-type(5):after {
        content: "80"; }
    .grade__percentage__pt5 .grade__percentage__level:nth-of-type(6) {
      left: 100%;
      text-indent: -12px; }
      .grade__percentage__pt5 .grade__percentage__level:nth-of-type(6):after {
        content: "100"; }
      @media (max-width: 320px) {
        .grade__percentage__pt5 .grade__percentage__level:nth-of-type(6) {
          text-indent: -9px; } }

.grade__percentage__pt6 {
  position: relative;
  width: 100%; }
  .grade__percentage__pt6 .grade__percentage__level {
    position: absolute;
    width: auto; }
    .grade__percentage__pt6 .grade__percentage__level:after {
      position: absolute; }
    .grade__percentage__pt6 .grade__percentage__level:nth-of-type(1) {
      left: 0%; }
      .grade__percentage__pt6 .grade__percentage__level:nth-of-type(1):after {
        content: "0"; }
    .grade__percentage__pt6 .grade__percentage__level:nth-of-type(2) {
      left: 17%;
      text-indent: -5px; }
      .grade__percentage__pt6 .grade__percentage__level:nth-of-type(2):after {
        content: "20"; }
    .grade__percentage__pt6 .grade__percentage__level:nth-of-type(3) {
      left: 33%;
      text-indent: -5px; }
      .grade__percentage__pt6 .grade__percentage__level:nth-of-type(3):after {
        content: "35"; }
    .grade__percentage__pt6 .grade__percentage__level:nth-of-type(4) {
      left: 50%;
      text-indent: -5px; }
      .grade__percentage__pt6 .grade__percentage__level:nth-of-type(4):after {
        content: "50"; }
    .grade__percentage__pt6 .grade__percentage__level:nth-of-type(5) {
      left: 67%;
      text-indent: -5px; }
      .grade__percentage__pt6 .grade__percentage__level:nth-of-type(5):after {
        content: "65"; }
    .grade__percentage__pt6 .grade__percentage__level:nth-of-type(6) {
      left: 86%;
      text-indent: -12px; }
      .grade__percentage__pt6 .grade__percentage__level:nth-of-type(6):after {
        content: "85"; }
      @media (max-width: 320px) {
        .grade__percentage__pt6 .grade__percentage__level:nth-of-type(6) {
          text-indent: -9px; } }
    .grade__percentage__pt6 .grade__percentage__level:nth-of-type(7) {
      left: 100%;
      text-indent: -12px; }
      .grade__percentage__pt6 .grade__percentage__level:nth-of-type(7):after {
        content: "100"; }
      @media (max-width: 320px) {
        .grade__percentage__pt6 .grade__percentage__level:nth-of-type(7) {
          text-indent: -9px; } }

.grade__percentage__pt8 {
  position: relative;
  width: 100%; }
  .grade__percentage__pt8 .grade__percentage__level {
    position: absolute;
    width: auto; }
    .grade__percentage__pt8 .grade__percentage__level:after {
      position: absolute; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(1) {
      left: 0%; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(1):after {
        content: "0"; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(2) {
      left: 12.5%;
      text-indent: -4px; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(2):after {
        content: "15"; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(3) {
      left: 25%;
      text-indent: -4px; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(3):after {
        content: "25"; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(4) {
      left: 37.5%;
      text-indent: -4px; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(4):after {
        content: "35"; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(5) {
      left: 50%;
      text-indent: -4px; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(5):after {
        content: "50"; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(6) {
      left: 62.5%;
      text-indent: -4px; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(6):after {
        content: "65"; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(7) {
      left: 75%;
      text-indent: -4px; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(7):after {
        content: "75"; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(8) {
      left: 87.5%;
      text-indent: -4px; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(8):after {
        content: "85"; }
    .grade__percentage__pt8 .grade__percentage__level:nth-of-type(9) {
      left: 100%;
      text-indent: -12px; }
      .grade__percentage__pt8 .grade__percentage__level:nth-of-type(9):after {
        content: "100"; }
      @media (max-width: 320px) {
        .grade__percentage__pt8 .grade__percentage__level:nth-of-type(9) {
          text-indent: -9px; } }

.grade__percentage__pt10 {
  position: relative;
  width: 100%; }
  .grade__percentage__pt10 .grade__percentage__level {
    position: absolute;
    width: auto; }
    .grade__percentage__pt10 .grade__percentage__level:after {
      position: absolute; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(1) {
      left: 0%; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(1):after {
        content: "0"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(2) {
      left: 10%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(2):after {
        content: "10"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(3) {
      left: 20%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(3):after {
        content: "20"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(4) {
      left: 30%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(4):after {
        content: "30"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(5) {
      left: 40%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(5):after {
        content: "40"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(6) {
      left: 50%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(6):after {
        content: "50"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(7) {
      left: 60%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(7):after {
        content: "60"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(8) {
      left: 70%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(8):after {
        content: "70"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(9) {
      left: 80%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(9):after {
        content: "80"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(10) {
      left: 90%;
      text-indent: -4px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(10):after {
        content: "90"; }
    .grade__percentage__pt10 .grade__percentage__level:nth-of-type(11) {
      left: 100%;
      text-indent: -12px; }
      .grade__percentage__pt10 .grade__percentage__level:nth-of-type(11):after {
        content: "100"; }
      @media (max-width: 320px) {
        .grade__percentage__pt10 .grade__percentage__level:nth-of-type(11) {
          text-indent: -9px; } }

.gradetable-container {
  background-color: #ffffff;
  border-top: 1px solid #dee2e6;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }
  .gradetable-container__body {
    padding: 12px; }

.gradescale__table {
  margin-bottom: 0px; }
  .gradescale__table.table-responsive {
    overflow-y: hidden;
    display: inline-table; }
  .gradescale__table th {
    font-size: 0.875em; }
  .gradescale__table td {
    font-size: 0.813em; }
  .gradescale__table thead th {
    border: none; }
  .gradescale__table thead th,
  .gradescale__table td {
    border-top: unset;
    border-bottom: unset;
    vertical-align: middle;
    padding: 18px 5px; }
.gradescale__select {
  min-width: 8rem;
  margin: 0;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -mox-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 5px;
  border: 1px solid #cccccc;
  cursor: pointer; }
  .gradescale__select--toggle {
    width: 100%; }
  .gradescale__select--wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 58px;
    float: left; }
.gradescale__caret {
  float: right; }
.gradescale__arw {
  vertical-align: middle;
  color: #cccccc; }
.gradescale__placehoder {
  margin: 4px auto;
  right: 35px;
  position: absolute;
  line-height: 1; }
.gradescale__dropdown-menu {
  padding: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  min-width: 9rem;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin: -1px 0px 0px -21.3px; }
.gradescale__selectetext {
  padding: 5px;
  font-size: 0.813em; }

.gradescale__select__selected {
  float: left;
  line-height: 1.9; }

.option__placeholder {
  margin: 0 10px;
  vertical-align: middle;
  line-height: 0.5; }

.gradescale__tablescore__minmax {
  -webkit-appearance: textfield;
  background-color: #f7f7f7;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 3px 10px;
  border-width: 38px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  text-align: right;
  border: 1px solid #cccccc; }
.gradescale__passscore {
  text-align: center; }
.gradescale__tablescore__radio {
  opacity: 0;
  position: absolute; }
.gradescale__tablescore {
  display: block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
  text-align: center;
  width: 20px;
  height: auto; }
.gradescale__tablescore__radio + .gradescale__tablescore:before {
  content: '';
  background: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #cccccc;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  text-align: center; }
.gradescale__tablescore__radio:checked + .gradescale__tablescore:before {
  background-color: #6a7070;
  -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
  -moz-box-shadow: inset 0 0 0 4px #f4f4f4;
  -ms-box-shadow: inset 0 0 0 4px #f4f4f4;
  box-shadow: inset 0 0 0 4px #f4f4f4; }
.gradescale__tablecolorlist {
  padding: 0 30px;
  text-align: center; }
  .gradescale__tablecolorlist ul {
    padding: 0; }
.gradescale__tablecolor {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid #e7e7e7;
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .gradescale__tablecolor__select {
    display: none;
    top: 32px;
    right: -83px;
    position: absolute;
    width: 200px;
    background: #ffffff;
    font-size: 13px;
    background: #ffffff;
    color: #333333;
    padding: 10px 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    z-index: 999;
    border: 1px solid #cccccc; }
    .gradescale__tablecolor__select:before {
      bottom: 100%;
      left: 50%;
      position: absolute;
      display: block;
      content: '';
      width: 13px;
      height: 13px;
      margin-bottom: -6px;
      border-top: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      background: #ffffff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
  .gradescale__tablecolor__selectvisible {
    display: block; }
.gradescale__content__select {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  display: inline-block; }

.gradscale__tablecolor__choosecolor {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: left; }

.gradscale__tablecolor__list--align {
  margin: 2px 2px;
  display: inline-block; }

.grade__customcolor {
  color: #007fa3;
  text-decoration: underline;
  font-weight: bold; }
  .grade__customcolor:hover {
    color: #007fa3; }

.grade__selecttick {
  content: "\2713";
  top: 1px;
  left: 5px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  display: inline-block; }

.gradescale__tableremark {
  padding: 3px 5px;
  border: 1px solid #cccccc;
  width: 7rem; }

@media screen and (min-width: 1025px) and (max-width: 1150px) {
  .gradescale__table.table-responsive {
    display: block; } }
@media screen and (max-width: 1024px) {
  .gradescale__table {
    display: block;
    overflow-y: hidden;
    overflow-x: auto; }

  .grade__tabletd {
    font-size: 0.688em;
    line-height: 1.4; }

  .icon__container {
    width: 100%;
    display: inline-block;
    text-align: center; }

  .gradescale__table > *,
  .gradescale__table tr,
  .gradescale__table th {
    display: block; }

  .gradescale__table td:nth-child(1) {
    display: block; }
  .gradescale__table td.collapse {
    display: none; }
  .gradescale__table td.collapse.show {
    display: block; }
  .gradescale__table thead {
    display: none; }
  .gradescale__table tbody tr {
    height: auto;
    padding: 0 0 20px; }
    .gradescale__table tbody tr td {
      padding-left: 50% !important; }
      .gradescale__table tbody tr td:last-child {
        margin-bottom: 0; }
      .gradescale__table tbody tr td:before {
        left: 40px;
        position: absolute;
        font-weight: bold; }
      .gradescale__table tbody tr td:nth-child(1) {
        border: 1px solid #dee2e6; }
      .gradescale__table tbody tr td:nth-child(1):before {
        content: "Grade Levels"; }
      .gradescale__table tbody tr td:nth-child(2):before {
        content: "Category & Pattern";
        line-height: 1.9; }
      .gradescale__table tbody tr td:nth-child(3):before {
        content: "Min Score";
        line-height: 1.9; }
      .gradescale__table tbody tr td:nth-child(4):before {
        content: "Max Score";
        line-height: 1.9; }
      .gradescale__table tbody tr td:nth-child(5):before {
        content: "Pass Score";
        line-height: 1.9; }
      .gradescale__table tbody tr td:nth-child(6):before {
        content: "Grade Color";
        line-height: 1.9; }
      .gradescale__table tbody tr td:nth-child(7):before {
        content: "Remarks";
        line-height: 1.9; }
  .gradescale__select {
    min-width: 9rem; }
  .gradescale__dropdown-menu {
    margin: -1px 0px 0px -6.2px; }
  .gradescale__select--wrap {
    width: 80px; }
  .gradescale__tablescore__minmax {
    text-align: left;
    padding: 3px 5px; }
  .gradescale__tablescore__radio {
    margin-left: -22%; }
  .gradescale__tablescore {
    text-align: left;
    margin: 0; }
  .gradescale__tablescore__radio + .gradescale__tablescore:before {
    width: 22px;
    height: 22px; }
  .gradescale__tablecolorlist {
    padding: 0;
    text-align: left; }
  .gradescale__tableremark {
    width: 8.9rem; }

  .accordion-toggle {
    cursor: pointer; } }
@media (min-width: 576px) and (max-width: 740px) {
  .px--0 {
    padding: 0; } }
@media (max-width: 576px) {
  .px--0 {
    padding: 0; }

  .gradescale__table {
    display: block; }

  .grade__tabletd {
    font-size: 0.688em;
    line-height: 1.4; }

  .icon__container {
    width: 100%;
    display: inline-block;
    text-align: center; }

  .gradescale__table tbody tr {
    height: 100%;
    padding: 0 0 20px; }
    .gradescale__table tbody tr td {
      padding-left: 50% !important; }
      .gradescale__table tbody tr td:last-child {
        margin-bottom: 0; }
      .gradescale__table tbody tr td:before {
        left: 40px;
        position: absolute;
        font-weight: bold; }
      .gradescale__table tbody tr td:nth-child(1) {
        border: 1px solid #dee2e6; }
  .gradescale__select {
    min-width: 9rem; }
    .gradescale__select--wrap {
      width: 80px; }
  .gradescale__tablescore__minmax {
    text-align: left;
    padding: 3px 5px; }
  .gradescale__tablescore__radio {
    margin-left: -19%; }
  .gradescale__tablescore {
    text-align: left;
    margin: 0; }
  .gradescale__tablescore__radio + .gradescale__tablescore:before {
    width: 22px;
    height: 22px; }
  .gradescale__tablecolorlist {
    padding: 0;
    text-align: left; }
  .gradescale__tableremark {
    width: 8.9rem; } }
@media (min-width: 500px) and (max-width: 600px) {
  .grd__icon {
    line-height: 1; } }
@media (min-width: 320px) and (max-width: 400px) {
  .gradescale__table tbody tr td:before {
    left: 30px;
    position: absolute;
    font-weight: bold; }
  .gradescale__select {
    min-width: 8rem; }
  .gradescale__tableremark {
    width: 8rem; }

  .grade__heading {
    color: #000;
    font-weight: 600;
    font-size: 0.75em;
    padding: 10px; }

  .btn__primary--detail {
    font-size: 0.688em;
    padding: 0.375rem 0.60rem; } }
.grade__fail {
  top: 1px;
  right: 7px;
  position: relative;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  filter: alpha(opacity=50); }
  @media only screen and (max-width: 1200px) {
    .grade__fail {
      top: 0px;
      right: 0px;
      position: relative;
      margin: 0 1%; } }
  .grade__fail:before, .grade__fail:after {
    top: 1px;
    left: -3px;
    position: absolute;
    content: ' ';
    height: 11px;
    width: 2px;
    background-color: #333333; }
  .grade__fail:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .grade__fail:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .grade__fail--md {
    top: -2px;
    right: 0px;
    position: relative;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: inline-block; }
    .grade__fail--md:before, .grade__fail--md:after {
      left: 0px;
      position: absolute;
      content: ' ';
      height: 12px;
      width: 2px;
      background-color: #333333; }
    .grade__fail--md:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .grade__fail--md:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .grade__fail--lg {
    top: 0px;
    right: 7px;
    position: relative;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    filter: alpha(opacity=50); }
    .grade__fail--lg:before, .grade__fail--lg:after {
      left: 0px;
      position: absolute;
      content: ' ';
      height: 15px;
      width: 3px;
      background-color: #333333; }
    .grade__fail--lg:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .grade__fail--lg:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.grade__por {
  width: 10px;
  height: 10px;
  background-color: #979797;
  display: inline-block;
  margin: 0 5px; }
  .grade__por--md {
    width: 13px;
    height: 13px;
    background-color: #979797;
    display: inline-block; }
  .grade__por--lg {
    width: 15px;
    height: 15px;
    background-color: #979797;
    display: inline-block; }

.grade__avg {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 5px;
  border: 1px dashed #979797;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .grade__avg--md {
    width: 13px;
    height: 13px;
    display: inline-block;
    border: 1px dashed #979797;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .grade__avg--lg {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px dashed #979797;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.grade__well {
  width: 10px;
  height: 10px;
  border: 1px solid #979797;
  display: inline-block;
  margin: 0 3px; }
  .grade__well--md {
    width: 13px;
    height: 13px;
    border: 1px solid #979797;
    display: inline-block; }
  .grade__well--lg {
    width: 15px;
    height: 15px;
    border: 1px solid #979797;
    display: inline-block; }

.grade__high {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 5px;
  background-color: #979797;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .grade__high--md {
    width: 13px;
    height: 13px;
    display: inline-block;
    background-color: #979797;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .grade__high--lg {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #979797;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

@media only screen and (max-width: 991px) {
  .grade10td__icon {
    margin: 2px auto; }

  .grade__fail {
    top: 0;
    right: 0;
    position: relative;
    width: 100%;
    height: 10px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: inline-block; }
    .grade__fail:before, .grade__fail:after {
      left: 0;
      right: 0px;
      margin: 0 auto; } }
.modal__content {
  border: 0px;
  border-radius: 0px;
  padding: 30px 30px; }
.modal__dialog {
  max-width: 600px; }
.modal__body {
  padding: 0; }
.modal__footer {
  border-top: 0px;
  padding: 0; }

.modal {
  z-index: 100001; }

.modal-backdrop {
  z-index: 100000; }

.modal__content__header {
  border: 0;
  padding: 0;
  margin-bottom: 1em; }

.modal__footer .modal__footer__wrap .setup__cancel__link {
  color: #2692b1;
  font-size: 0.813em;
  top: 4px;
  position: relative; }

@media only screen and (max-width: 767px) {
  .modal-dialog {
    margin: 15px !important; }
  .modal-content {
    padding: 20px; }
  .modal .button {
    margin: 10px 10px 0 0; } }
.change__image__wrap {
  border: dashed 1px #047a9c;
  max-width: 210px;
  margin: 0 auto;
  height: 110px;
  padding: 20px; }
  .change__image__wrap img {
    width: 100%; }
.change__image__body .image__upload__text {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #a7a7a7; }
  .change__image__body .image__upload__text .click__to__browse {
    color: #007fa3; }
.change__image__body .change__image__format {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #a7a7a7; }
  .change__image__body .change__image__format .text {
    color: #D1D3D4; }

.upload__progress {
  top: 10px;
  right: 50px;
  left: 0px;
  position: relative;
  overflow: unset;
  height: 4px;
  background-color: #c7c7c7; }
  .upload__progress .progress__track {
    background-color: #19A5A3;
    top: -2px;
    left: 0;
    position: absolute;
    height: 8px; }
  .upload__progress .progress__percentage {
    top: -30px;
    right: 0px;
    left: 0px;
    position: absolute;
    text-align: center; }

.progress__btn--close {
  background-color: transparent;
  cursor: pointer;
  outline: none; }
  .progress__btn--close .progress__btn--icon {
    display: inline-block;
    font-size: 1.4em;
    color: #51a6a4; }

.modal__text {
  font-size: 0.875em;
  font-weight: 300; }

.modal__footer .modal__footer__wrap {
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .modal__footer .modal__footer__wrap {
      flex-wrap: wrap; } }
  .modal__footer .modal__footer__wrap .setup__cancel__link {
    color: #2692b1;
    font-size: 0.813em;
    top: 4px;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .modal__footer .modal__footer__wrap .setup__cancel__link {
        top: -4px; } }

@media only screen and (max-width: 1200px) {
  .modal-dialog {
    margin: 1.75rem 1.5rem; } }
.assign__grade__template__exam {
  background-color: #ffffff;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }
  .assign__grade__template__exam__table tbody + tbody {
    border: none !important; }
  .assign__grade__template__exam__table th, .assign__grade__template__exam__table td {
    padding-top: 0.75rem;
    padding-right: 0.3rem;
    padding-bottom: 0.75rem;
    padding-left: 0.3rem;
    width: 110px; }
    @media only screen and (max-width: 360px) {
      .assign__grade__template__exam__table th, .assign__grade__template__exam__table td {
        padding-top: 0.75rem;
        padding-right: 1rem;
        padding-bottom: 0.75rem;
        padding-left: 1rem; } }
  .assign__grade__template__exam__table th:first-child {
    border-bottom: none !important;
    border-left: none !important; }
  .assign__grade__template__exam__table td:first-child {
    border-top: none !important;
    border-left: none !important; }
    @media only screen and (max-width: 360px) {
      .assign__grade__template__exam__table td:first-child {
        padding-top: 0.75rem;
        padding-right: 4.5rem;
        padding-bottom: 0.75rem;
        padding-left: 4.5rem; } }
  .assign__grade__template__exam__table th {
    border-bottom: none !important;
    border-top: none !important; }
  .assign__grade__template__exam__table td {
    border-bottom: none !important; }
  .assign__grade__template__exam__table__main--material {
    font-size: 0.813em;
    line-height: 1.8;
    margin: 0; }
    .assign__grade__template__exam__table__main--material > input {
      left: -8px;
      top: -6px;
      width: 35px;
      height: 35px; }
    .assign__grade__template__exam__table__main--material > span {
      margin: 0; }
    .assign__grade__template__exam__table__main--material > span::after {
      top: 11px;
      left: 5px;
      width: 10px;
      height: 0px;
      transform: unset; }
  .assign__grade__template__exam__table--material {
    font-size: 0.813em;
    line-height: 1.8;
    margin: 0; }
    .assign__grade__template__exam__table--material > input {
      left: -8px;
      top: -6px;
      width: 35px;
      height: 35px; }
    .assign__grade__template__exam__table--material > span {
      margin: 0; }
    .assign__grade__template__exam__table--material > span::after {
      top: 1px;
      left: 2px; }
  .assign__grade__template__exam__table__highlight {
    background-color: #f3f9fb; }
  .assign__grade__template__exam__table__content__contxt {
    font-size: 0.75em;
    color: #6a6a6a;
    font-weight: 600;
    margin: 0 auto; }
    .assign__grade__template__exam__table__content__contxt span {
      display: inline-block;
      max-width: 75px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .assign__grade__template__exam__table__content__contxt__apply {
      font-size: 0.75em;
      color: #a0cfdc;
      font-weight: 600; }
    .assign__grade__template__exam__table__content__contxt__applied {
      font-size: 0.75em;
      color: #a0cfdc;
      font-weight: 600; }
    .assign__grade__template__exam__table__content__contxt__img {
      margin-top: -15px;
      margin-right: 5px;
      margin-bottom: 0;
      margin-left: 0; }
      .assign__grade__template__exam__table__content__contxt__img__apply {
        -webkit-animation: rotation 2s infinite linear;
        -moz-animation: rotation 2s infinite linear;
        -ms-animation: rotation 2s infinite linear;
        -o-animation: rotation 2s infinite linear;
        animation: rotation 2s infinite linear;
        margin-top: -3px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 0; }
      .assign__grade__template__exam__table__content__contxt__img__applied {
        margin-top: -3px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 0; }
  .assign__grade__template__exam__table__class th, .assign__grade__template__exam__table__class td {
    padding-top: 0.75rem;
    padding-right: 1.1rem;
    padding-bottom: 0.75rem;
    padding-left: 1.1rem;
    width: auto; }
  .assign__grade__template__exam__table__class th:first-child {
    border-bottom: none;
    border-left: none !important;
    border-right: none !important; }
  .assign__grade__template__exam__table__class td:first-child {
    border-top: none;
    border-left: none !important; }
  .assign__grade__template__exam__table__class th {
    border-bottom: none !important;
    border-top: none !important; }
  .assign__grade__template__exam__table__class td {
    border-bottom: none !important; }

.grade__color {
  color: #ffffff;
  border: none; }
  .grade__color--fail {
    background-color: #FF6347; }
    .grade__color--fail-one {
      background-color: #FF0000; }
  .grade__color--lowest {
    background-color: #c24b4b; }
  .grade__color--lowmark {
    background-color: #d06544; }
  .grade__color--poor {
    background-color: #c24b4b; }
    .grade__color--poor-one {
      background-color: #d06544; }
  .grade__color--average {
    background-color: #e59a1f; }
    .grade__color--average-one {
      background-color: #f8bc1c; }
  .grade__color--avermark {
    background-color: #f8bc1c; }
  .grade__color--performingwell {
    background-color: #1E90FF; }
    .grade__color--performingwell-one {
      background-color: #00BFFF; }
  .grade__color--highest {
    background-color: #417505; }
    .grade__color--highest-one {
      background-color: #86c441; }
  .grade__color--highestmark {
    background-color: #7dc138; }
  .grade__color--white {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
  .grade__color--empty {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding-top: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 12px !important; }

.tab__content--link.grade__para, .tab__content--link.grade__para:hover {
  color: #6a7070;
  font-size: 0.875em;
  background-color: transparent;
  padding: 12px 0; }

.nav-link .grade__newitem__link,.nav-link .grade__newitem__link:hover {
  color: #007fa3;
  font-size: 0.875em;
  padding: 0.8rem 0.1rem 0.8rem 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px dashed #007fa3; }
  .grade__newitem .grade__newitem__link.active {
    background-color: #007fa3;
    color: #ffffff;
    border: none; }

#gradetab__content {
  padding: 15px 0; }

.grade__template {
  border: 1px solid #dee2e6;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .grade__template:last-child {
    margin-bottom: 0px; }
  .grade__template .grade__template__header {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
    .grade__template .grade__template__header .grade__template__header__heading {
      color: #000000;
      font-weight: 600;
      font-size: 0.875em;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px; }
      @media only screen and (max-width: 767px) {
        .grade__template .grade__template__header .grade__template__header__heading {
          font-size: 0.75em;
          padding-top: 15px;
          padding-right: 5px;
          padding-bottom: 15px;
          padding-left: 5px; } }
    .grade__template .grade__template__header .grade__template__grd__icon {
      color: #007fa3;
      font-size: 2em;
      line-height: 1.1;
      vertical-align: middle; }
      @media only screen and (max-width: 767px) {
        .grade__template .grade__template__header .grade__template__grd__icon {
          font-size: 1.1em; } }
  .grade__template .preview__row {
    height: 150px; }
    @media only screen and (max-width: 1024px) {
      .grade__template .preview__row {
        height: 180px; } }
  .grade__template .grade__template__previewheading {
    color: #454545;
    font-weight: 600;
    font-size: 0.875em;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px; }
  .grade__template .grade__template__header__newicon {
    color: #007fa3;
    line-height: 1.2;
    font-size: 0.875em;
    cursor: pointer;
    vertical-align: baseline;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px; }
  .grade__template .form__input {
    background: #ffffff;
    border-color: #dadada;
    font-size: 0.875em;
    width: 15%; }
    @media only screen and (max-width: 576px) {
      .grade__template .form__input {
        width: 30%; } }
  .grade__template .grade__template__createtext {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-decoration: underline;
    color: #007fa3;
    font-size: 0.875em; }
  .grade__template .grade__template__createdoneicone {
    vertical-align: middle; }
  .grade__template .gradescale__table__inputbox {
    position: relative; }
    .grade__template .gradescale__table__inputbox .gradescale__table__inputbox__input {
      width: 70%;
      border: 1px solid rgba(251, 238, 238, 0.1);
      padding-top: 2px;
      padding-right: 5px;
      padding-bottom: 2px;
      padding-left: 5px; }
    .grade__template .gradescale__table__inputbox .gradescale__table__inputbox__tooltiptext {
      display: none;
      top: 32px;
      left: 0px;
      position: absolute;
      text-align: left;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      color: #444444;
      background-color: #ffffff;
      font-weight: normal;
      font-size: 0.875em;
      z-index: 99999999;
      box-sizing: border-box;
      -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      max-width: none;
      white-space: nowrap;
      width: auto;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px; }
      .grade__template .gradescale__table__inputbox .gradescale__table__inputbox__tooltiptext:before {
        bottom: 100%;
        left: 5%;
        position: absolute;
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    .grade__template .gradescale__table__inputbox:hover .gradescale__table__inputbox__tooltiptext {
      display: block; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__inputbox:hover .gradescale__table__inputbox__tooltiptext {
          display: none; } }
  .grade__template .gradescale__table__descripbox {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    display: inline-block; }
    @media only screen and (max-width: 1024px) {
      .grade__template .gradescale__table__descripbox {
        padding-top: 0;
        padding-right: 5px;
        padding-bottom: 0;
        padding-left: 5px; } }
    .grade__template .gradescale__table__descripbox .gradescale__table__descripbox__description {
      display: none;
      top: 32px;
      left: -12px;
      position: absolute;
      width: 251px;
      background: #ffffff;
      color: #333333;
      padding-top: 10px;
      padding-right: 15px;
      padding-bottom: 10px;
      padding-left: 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      z-index: 999;
      border: 1px solid #cccccc; }
      .grade__template .gradescale__table__descripbox .gradescale__table__descripbox__description:before {
        bottom: 100%;
        left: 5%;
        position: absolute;
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      .grade__template .gradescale__table__descripbox .gradescale__table__descripbox__description.gradescale__table__descripbox__description__visible {
        display: block; }
        @media only screen and (max-width: 1024px) {
          .grade__template .gradescale__table__descripbox .gradescale__table__descripbox__description.gradescale__table__descripbox__description__visible {
            display: none; } }
    .grade__template .gradescale__table__descripbox .gradescale__table__descripbox__description__list__heading {
      margin-top: 8px;
      margin-right: 0;
      margin-bottom: 8px;
      margin-left: 0;
      font-size: 0.875em;
      font-weight: 600; }
    .grade__template .gradescale__table__descripbox .gradescale__table__descripbox__description__list__textarea {
      border: 1px solid #cccccc;
      resize: none;
      width: 100%;
      height: 100px; }
  .grade__template .gradescale__table__selectbox {
    position: relative;
    min-width: 8rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -mox-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    border: 1px solid #cccccc;
    cursor: pointer; }
    .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__tooltiptext {
      display: none;
      top: 35px;
      left: 0px;
      position: absolute;
      text-align: left;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      color: #444444;
      background-color: #ffffff;
      font-weight: normal;
      font-size: 0.875em;
      z-index: 99999999;
      box-sizing: border-box;
      -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      max-width: none;
      white-space: nowrap;
      width: auto;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px; }
      .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__tooltiptext:before {
        bottom: 100%;
        left: 5%;
        position: absolute;
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdown {
      width: 100%; }
      .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdown #gradescale__table__selectbox__dropdown__select {
        float: left;
        line-height: 2.5;
        font-size: 0.875em;
        color: #cecece;
        font-weight: 400; }
      .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdown .gradescale__table__selectbox__dropdown__caret {
        float: right; }
      .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdown .gradescale__table__selectbox__dropdown__arw {
        vertical-align: middle;
        color: #cccccc; }
    .grade__template .gradescale__table__selectbox:hover .gradescale__table__selectbox__tooltiptext {
      display: block; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__selectbox:hover .gradescale__table__selectbox__tooltiptext {
          display: none; } }
    .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdownmenu {
      float: left;
      line-height: 1.9;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      min-width: 9rem;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
      -ms-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
      margin-top: -1px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: -21.3px; }
      .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdownmenu .gradescale__table__selectbox__dropdownmenu__grade {
        height: 140px;
        overflow-y: scroll; }
        .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdownmenu .gradescale__table__selectbox__dropdownmenu__grade .gradescale__table__selectbox__dropdownmenu__grade__selectetext {
          padding: 5px;
          font-size: 0.813em; }
        .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdownmenu .gradescale__table__selectbox__dropdownmenu__grade::-webkit-scrollbar {
          width: 4px;
          background-color: #cccccc; }
      .grade__template .gradescale__table__selectbox .gradescale__table__selectbox__dropdownmenu .gradescale__table__selectbox__dropdownmenu__createedit {
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        border-top: 1px solid #cccccc;
        font-size: 0.750em; }
  .grade__template .gradescale__table__minbox {
    position: relative; }
    .grade__template .gradescale__table__minbox .gradescale__table__minbox__tablescore {
      background-color: #ffffff;
      cursor: pointer;
      width: 100%;
      border: 1px solid #cccccc;
      text-align: right;
      padding-top: 3px;
      padding-right: 10px;
      padding-bottom: 3px;
      padding-left: 10px;
      -webkit-appearance: textfield;
      -webkit-rtl-ordering: logical; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__minbox .gradescale__table__minbox__tablescore {
          width: auto; } }
      .grade__template .gradescale__table__minbox .gradescale__table__minbox__tablescore:disabled {
        background-color: #f7f7f7; }
    .grade__template .gradescale__table__minbox .gradescale__table__minbox__tooltiptext {
      display: none;
      top: 37px;
      left: 0px;
      position: absolute;
      text-align: left;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      color: #444444;
      background-color: #ffffff;
      font-weight: normal;
      font-size: 0.875em;
      z-index: 99999999;
      box-sizing: border-box;
      -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      max-width: none;
      white-space: nowrap;
      width: auto;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px; }
      .grade__template .gradescale__table__minbox .gradescale__table__minbox__tooltiptext:before {
        display: block;
        bottom: 100%;
        left: 5%;
        position: absolute;
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    .grade__template .gradescale__table__minbox:hover .gradescale__table__minbox__tooltiptext {
      display: block; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__minbox:hover .gradescale__table__minbox__tooltiptext {
          display: none; } }
  .grade__template .gradescale__table__maxbox {
    position: relative; }
    .grade__template .gradescale__table__maxbox .gradescale__table__maxbox__tablescore {
      background-color: #ffffff;
      cursor: pointer;
      width: 100%;
      border: 1px solid #cccccc;
      text-align: right;
      padding-top: 3px;
      padding-right: 10px;
      padding-bottom: 3px;
      padding-left: 10px;
      -webkit-appearance: textfield;
      -webkit-rtl-ordering: logical; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__maxbox .gradescale__table__maxbox__tablescore {
          width: auto; } }
      .grade__template .gradescale__table__maxbox .gradescale__table__maxbox__tablescore:disabled {
        background-color: #f7f7f7; }
    .grade__template .gradescale__table__maxbox .gradescale__table__maxbox__tooltiptext {
      display: none;
      top: 37px;
      left: 0px;
      position: absolute;
      text-align: left;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      color: #444444;
      background-color: #ffffff;
      font-weight: normal;
      font-size: 0.875em;
      z-index: 99999999;
      box-sizing: border-box;
      -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      max-width: none;
      white-space: nowrap;
      width: auto;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px; }
      .grade__template .gradescale__table__maxbox .gradescale__table__maxbox__tooltiptext:before {
        display: block;
        bottom: 100%;
        left: 5%;
        position: absolute;
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    .grade__template .gradescale__table__maxbox:hover .gradescale__table__maxbox__tooltiptext {
      display: block; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__maxbox:hover .gradescale__table__maxbox__tooltiptext {
          display: none; } }
  .grade__template .gradescale__table__passscore {
    text-align: center; }
    .grade__template .gradescale__table__passscore .gradescale__table__passscore__label {
      display: block;
      position: relative;
      cursor: pointer;
      user-select: none;
      width: 25px;
      height: auto;
      float: none;
      margin: 0 auto; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__passscore .gradescale__table__passscore__label {
          margin-top: 0;
          margin-right: 0;
          margin-bottom: 0;
          margin-left: 0; } }
      .grade__template .gradescale__table__passscore .gradescale__table__passscore__label:hover .gradescale__table__passscore__label__input ~ .gradescale__table__passscore__label__checkmark {
        background-color: #cccccc; }
      .grade__template .gradescale__table__passscore .gradescale__table__passscore__label .gradescale__table__passscore__label__input:checked ~ .gradescale__table__passscore__label__checkmark {
        background-color: #6a7070;
        -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
        -moz-box-shadow: inset 0 0 0 4px #f4f4f4;
        -ms-box-shadow: inset 0 0 0 4px #f4f4f4;
        box-shadow: inset 0 0 0 4px #f4f4f4; }
      .grade__template .gradescale__table__passscore .gradescale__table__passscore__label .gradescale__table__passscore__label__input {
        opacity: 0;
        position: absolute; }
      .grade__template .gradescale__table__passscore .gradescale__table__passscore__label .gradescale__table__passscore__label__checkmark {
        top: 0px;
        bottom: 0px;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #eee;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle; }
        .grade__template .gradescale__table__passscore .gradescale__table__passscore__label .gradescale__table__passscore__label__checkmark:after {
          content: "";
          top: 9px;
          left: 9px;
          position: absolute;
          display: none;
          width: 8px;
          height: 8px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
    .grade__template .gradescale__table__passscore .gradescale__table__passscore__label__tooltiptext {
      display: none;
      top: 32px;
      right: 0px;
      position: absolute;
      text-align: left;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      color: #444444;
      background-color: #ffffff;
      font-weight: normal;
      font-size: 0.875em;
      z-index: 99999999;
      box-sizing: border-box;
      -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      max-width: none;
      white-space: nowrap;
      width: auto;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px; }
      .grade__template .gradescale__table__passscore .gradescale__table__passscore__label__tooltiptext:before {
        display: block;
        right: 5%;
        bottom: 100%;
        position: absolute;
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    .grade__template .gradescale__table__passscore:hover .gradescale__table__passscore__label__tooltiptext {
      display: block; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__passscore:hover .gradescale__table__passscore__label__tooltiptext {
          display: none; } }
  .grade__template .gradescale__table__selectcolorhead {
    position: relative;
    padding-top: 0;
    padding-right: 27px;
    padding-bottom: 0;
    padding-left: 27px; }
    @media only screen and (max-width: 1024px) {
      .grade__template .gradescale__table__selectcolorhead {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0; } }
    .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__tooltiptextlast {
      display: none;
      top: 35px;
      right: 34px;
      position: absolute;
      text-align: left;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      color: #444444;
      background-color: #ffffff;
      font-weight: normal;
      font-size: 0.875em;
      z-index: 99999999;
      box-sizing: border-box;
      -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      max-width: none;
      white-space: nowrap;
      width: auto;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px; }
      .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__tooltiptextlast:before {
        display: block;
        right: 5%;
        bottom: 100%;
        position: absolute;
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    .grade__template .gradescale__table__selectcolorhead:hover .gradescale__table__selectcolorhead__tooltiptextlast {
      display: block; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__selectcolorhead:hover .gradescale__table__selectcolorhead__tooltiptextlast {
          display: none; } }
    .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select {
      width: 25px;
      height: 25px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      color: #ffffff;
      border: 2px solid #e7e7e7;
      cursor: pointer;
      position: relative;
      display: inline-block; }
      .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__coloredit {
        top: 4px;
        right: 0px;
        bottom: 0px;
        left: 23px;
        position: relative; }
      .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__selectcolor {
        display: none;
        top: 32px;
        right: -83px;
        position: absolute;
        width: 200px;
        font-size: 0.813em;
        background: #ffffff;
        color: #333;
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        z-index: 999;
        border: 1px solid #cccccc; }
        .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__selectcolor:before {
          display: block;
          bottom: 100%;
          left: 50%;
          position: absolute;
          display: block;
          content: '';
          width: 13px;
          height: 13px;
          margin-top: 0;
          margin-right: 0;
          margin-bottom: -6px;
          margin-left: 0;
          border-top: 1px solid #cccccc;
          border-left: 1px solid #cccccc;
          background: #ffffff;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
        .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__selectcolor.gradescale__table__selectcolorhead__select__selectcolor__visible {
          display: block; }
        .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__selectcolor .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor {
          margin-top: 5px;
          margin-right: 0;
          margin-bottom: 5px;
          margin-left: 0; }
        .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__selectcolor .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor__select {
          margin-top: 2px;
          margin-right: 2px;
          margin-bottom: 2px;
          margin-left: 2px;
          display: inline-block; }
          .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__selectcolor .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor__select .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor__select__color {
            width: 25px;
            height: 25px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            color: #ffffff;
            cursor: pointer;
            position: relative;
            display: inline-block; }
            .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__selectcolor .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor__select .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor__select__color .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor__select__color__selecttick {
              content: "\2713";
              top: 5px;
              left: 8px;
              position: absolute;
              color: #ffffff;
              text-align: center;
              display: inline-block; }
          .grade__template .gradescale__table__selectcolorhead .gradescale__table__selectcolorhead__select .gradescale__table__selectcolorhead__select__selectcolor .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor__select .gradescale__table__selectcolorhead__select__selectcolor__list__choosecolor__select__customcolor {
            color: #007fa3;
            text-decoration: underline;
            font-weight: 600; }
  .grade__template .gradescale__table__choosedetails {
    background: #ffffff;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #aaaaaa;
    font-weight: 600;
    position: relative; }
    .grade__template .gradescale__table__choosedetails .gradescale__table__choosedetails__tooltiptextlast {
      display: none;
      position: absolute;
      top: 32px;
      right: 0px;
      position: absolute;
      text-align: left;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      color: #444444;
      background-color: #ffffff;
      font-weight: normal;
      font-size: 0.875em;
      z-index: 99999999;
      box-sizing: border-box;
      -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      max-width: none;
      white-space: nowrap;
      width: auto;
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px; }
      .grade__template .gradescale__table__choosedetails .gradescale__table__choosedetails__tooltiptextlast:before {
        display: block;
        right: 5%;
        bottom: 100%;
        position: absolute;
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -6px;
        margin-left: 0;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    .grade__template .gradescale__table__choosedetails:hover .gradescale__table__choosedetails__tooltiptextlast {
      display: block; }
      @media only screen and (max-width: 1024px) {
        .grade__template .gradescale__table__choosedetails:hover .gradescale__table__choosedetails__tooltiptextlast {
          display: none; } }
    .grade__template .gradescale__table__choosedetails .gradescale__table__choosedetails__img {
      padding-top: 3px;
      padding-right: 3px;
      padding-bottom: 3px;
      padding-left: 30px; }
  .grade__template .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
    background: #ffffff; }
    .grade__template .hr-sect::before, .grade__template .hr-sect::after {
      content: "";
      flex-grow: 1;
      background: #ffffff;
      height: 1px;
      font-size: 0px;
      line-height: 0px;
      margin-top: 0px;
      margin-right: 8px;
      margin-bottom: 0px;
      margin-left: 8px;
      color: #ffffff;
      border-top: 2px dashed #cccccc; }
    .grade__template .hr-sect .gradenew__add {
      font-size: 0.75em;
      color: #369ab6;
      font-weight: 700;
      background: #ffffff;
      border: 1px solid #cccccc;
      padding: 5px 5px;
      border-radius: 5px; }
  .grade__template__viewdetails {
    vertical-align: middle;
    display: inline-block;
    font-size: 0.75em;
    line-height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    color: #c7c7c7; }
    @media only screen and (max-width: 767px) {
      .grade__template__viewdetails {
        padding-left: 0px;
        padding-right: 0px; } }
  .grade__template__viewdetailsshow {
    color: #349ab6 !important;
    font-weight: 600;
    cursor: pointer; }

#gradenewlevel__table td:first-child {
  width: 18%; }
  @media only screen and (max-width: 1024px) {
    #gradenewlevel__table td:first-child {
      width: 100%; } }

@-moz-document url-prefix() {
  .grade__template .gradescale__table__selectbox {
    min-width: 8.2rem; }

  .grade__template .gradescale__table__minbox .gradescale__table__minbox__tablescore {
    width: 65px !important; }

  .grade__template .gradescale__table__maxbox .gradescale__table__maxbox__tablescore {
    width: 65px !important; } }
/* Create New Grade Template Table Responsive Css Start */
@media (max-width: 375px) {
  .grade__template .grade__template__header__newicon {
    padding-top: 0;
    padding-right: 4px;
    padding-bottom: 0;
    padding-left: 4px; } }
@media (max-width: 360px) {
  .grade__template .grade__template__header__newicon {
    padding-top: 0;
    padding-right: 3px;
    padding-bottom: 0;
    padding-left: 3px; }

  .grade__template .grade__template__createtext {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px; }

  .grade__template .gradescale__table__selectbox {
    min-width: 8.2rem; }

  @-moz-document url-prefix() {
    .button__primary--small {
      font-size: 0.813em !important; }

    .grade__template .grade__template__header__newicon {
      padding-top: 0px;
      padding-right: 1px;
      padding-bottom: 0px;
      padding-left: 1px; } } }
textarea::-webkit-input-placeholder {
  color: #121212;
  font-size: 0.875em;
  padding: 6px;
  font-weight: 700; }

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #121212;
  font-size: 0.875em;
  padding: 6px;
  font-weight: 700; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #121212;
  font-size: 0.875em;
  padding: 6px;
  font-weight: 700; }

textarea:-ms-input-placeholder {
  color: #121212;
  font-size: 0.875em;
  padding: 6px;
  font-weight: 700; }

.gradescale__table__selectbox__dropdownmenu__grade__selectetext:hover {
  background: #f1f8fa; }

.description__list__btn {
  padding: 0px 12px;
  font-weight: 600;
  line-height: 25px !important;
  margin: 9px 0; }

.gradescale__table__text {
  color: #121212;
  font-size: 0.875em;
  padding: 6px;
  font-weight: 700;
  width: 100%;
  height: 100px; }

.description__list__clear {
  color: #8fc7d6;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.875em;
  padding: 0px 12px;
  font-weight: 600;
  line-height: 25px !important;
  margin: 9px 0; }

.grade__template__editshow {
  padding: 0px 20px !important; }
  @media only screen and (max-width: 767px) {
    .grade__template__editshow {
      padding: 0px 8px !important; } }

.details__show {
  display: none; }

.create__newtemplates {
  display: none; }

.details__showvisible {
  display: block; }

.gradescale__table__descripbox__id, .create__newtemplatesadd {
  display: block; }

.viewdetail__btn {
  padding: 0 16px !important; }
  @media only screen and (max-width: 767px) {
    .viewdetail__btn {
      padding: 0 12px !important;
      font-size: 0.75em !important; } }

.edit__onclick {
  font-size: 0.813em !important;
  margin-right: 10px; }
  @media only screen and (max-width: 767px) {
    .edit__onclick {
      font-size: 0.75em !important;
      margin-right: 1px; } }

.assignto__btn {
  font-size: 0.813em !important; }
  @media only screen and (max-width: 767px) {
    .assignto__btn {
      font-size: 0.75em !important; } }

@media only screen and (max-width: 767px) {
  .assignto__btn .material-icons {
    font-size: 1.250em; } }
/* Remark Popup Start*/
.remark__popup--heading {
  font-size: 1.500em;
  color: #252525; }
.remark__popup--content {
  font-size: 0.875em;
  color: #252525;
  margin-bottom: 20px;
  margin-top: 40px; }
.remark__popup--endcontent {
  font-size: 0.875em;
  color: #252525;
  margin-top: 12px; }
.remark__contentlink {
  background-color: #f5f5f5;
  border: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  border-radius: unset;
  font-size: 0.875em;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 14px;
  border-right: 1px solid #cccccc; }
  .remark__contentlink:before {
    content: '';
    padding-right: 24px; }
  .remark__contentlink:hover {
    color: #000000;
    background-color: #ffffff;
    border: unset; }
  .remark__contentlink:focus {
    outline: unset; }
  .remark__contentlink.active {
    border-left: 2px solid #007fa3;
    font-weight: bolder;
    font-size: 0.875em;
    border-top: 1px solid #dee2e6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #dee2e6;
    background-color: #ffffff;
    color: #007fa3;
    outline: unset; }
    .remark__contentlink.active:hover {
      border: unset;
      outline: unset;
      background-color: #007fa3;
      color: #ffffff;
      border-left: 2px solid #007fa3;
      font-weight: bolder;
      font-size: 0.875em;
      border-top: 1px solid #dee2e6;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      border-bottom: 1px solid #dee2e6; }
    .remark__contentlink.active::before {
      content: "\2713";
      padding-right: 10px;
      font-size: 1em;
      font-weight: 700; }
.remark__tabcontent {
  border: 1px solid #cccccc;
  border-left: unset; }
.remark__tabheading {
  font-size: 0.875em;
  color: #252525;
  margin-top: 20px;
  font-weight: 800; }
.remark__tabdescription {
  font-size: 0.875em;
  color: #252525;
  padding-top: 12px;
  font-weight: normal; }
  .remark__tabdescription span {
    background: #ecf5f8;
    color: #007fa3;
    font-weight: 600;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
.remark__cancelbtn {
  margin-right: 6px; }
.remark__userbtn {
  margin-left: 6px; }
.remark__modalbody {
  margin-bottom: 20px; }
.remark__modalfooter {
  margin-top: 20px; }

#untitle__new {
  display: none; }

#sixpoint__newcreate {
  display: none; }

/* Remark Popup End */
/* View Details Popup Start */
.viewdetails__content {
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px; }
.viewdetails__detailssection {
  border-bottom: 1px solid #dee2e6;
  display: flex; }
.viewdetails__headertext {
  font-size: 0.875em;
  color: #000000;
  text-align: center;
  font-weight: 600;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
  padding-left: 8px; }
.viewdetails__selectvariation {
  background-color: #fafafa;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #6a6a6a; }
  .viewdetails__selectvariation__applied {
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 0.75em; }
    .viewdetails__selectvariation__applied__img {
      margin-top: -5px;
      margin-right: 0px;
      margin-bottom: 0;
      margin-left: 0; }
.viewdetails__assignwrap {
  background: #f7f6f6; }
.viewdetails__assignheading {
  color: #454545;
  font-weight: 600;
  font-size: 0.875em;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 5px; }
.viewdetails__label {
  color: #333333;
  font-size: 0.75em; }
.viewdetails__select {
  height: 30px !important;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 0.75em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .viewdetails__select:focus {
    border: 1px solid #80bdff;
    box-shadow: unset; }

/* View Details Popup End */
/* Create New Grade Template Table Responsive Css End */

/*# sourceMappingURL=grade_scale.css.map */

/* Create New Remarks Css Start */
.createnew__remarks {
  border: 1px dashed #dee2e6;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.remarks__heading{
  color: #007fa3;
  font-size: 0.875em;
  padding: 15px;
  cursor: pointer;
}

.createnew__icon{
  font-size: 1.063em;
  vertical-align: middle;
  margin: 0 0px 0 0;
}

.createnew__para{
  text-align: right;
  font-size: 0.750em;
}


.crenew__template__untitled {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
  display:none;
}
.crenew__template__untitled__headingsec {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  width: 100%;
}
.crenew__template__untitled__btn {
  float: right;
  padding: 7px 3px;
}
.crenew__template__untitled__btncancel {
  font-size: 0.875em;
  padding: 5px 14px;
  font-weight: bold;
  background-color: #e9e9e9;
  color: #000;
  border: 1px solid #dedede;
  border-radius: 3px;
}
.crenew__template__untitled__btnsave {
  font-size: 0.875em;
  padding: 5px 14px;
  font-weight: bold;
  background-color: #ffb81c;
  color: #000;
  border-radius: 3px;
  margin: 0 5px 0 10px;
}
.crenew__untitled__format {
  border-bottom: 1px solid #dee2e6;
  border-radius: 0 0 5px 5px;
  background-color: #ffffff;
}
.crenew__formattemp{
  padding: 30px 15px;
}
.crenew__untitled__formatheading-img{
  color: #6a7070;
  font-size: 1.500em;
  vertical-align: middle;
  display: inline-block;
}

.remarks__input{
  padding: 15px 0;
  margin: 0 0 10px;
}
.remarks__format{
  border-right:none;
  border-radius: 0;
}
.crenew__formattemp__rowheight .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
  border: 1px solid #ced4da;
}
.remarks__select--toggle {
  width: 100%;
}
.crenew__formattemp__select {
  text-align: left;
  list-style: none;
  background-color: #edf6f9;
  background-clip: padding-box;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 0.75em;
  color: #007fa3;
  font-weight: 600;
  border-left: none;
}

#remarks__selected{
  float: left;
  padding: 9px;
}

.crenew__formattemp__dropdown-menu {
  position: absolute;
  top: 11px !important;
  right: 0px;
  transform: translate3d(-70px, 30px, 0px) !important;
  padding: 10px;
  color: #444444;
  background-color: #fff;
  font-weight: normal;
  z-index: 99999999;
  box-sizing: border-box;
  width: auto;
  white-space: normal;
  display: none;
  text-align: left;
  border: 1px solid #dee2e6;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin: -1px 0px 0px -16.3px;
}
.crenew__formattemp__dropdown-menu:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 8%;
  width: 12px;
  height: 12px;
  margin-bottom: -5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}

.crenew__formattemp__selectetext:first-child{
  color: #007fa3;
}
.crenew__formattemp__selectetext {
  padding: 5px;
  font-size: 0.813em;
}
.choices {
  margin-bottom: 2.4rem;
  position: relative;
}
.choices[data-type*="text"] .choices__inner {
  cursor: text;
}
.choices__inner {
  padding:3px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 90%;
  border-right: none;
}

.choices__list--multiple {
  display: inline;
}
.choices__list--multiple .choices__item {
  display: inline-block;
  font-size: 0.875em;
  background-color: #12b2a6;
  border: 1px solid #12b2a6;
  color: #FFFFFF;
  padding: 0 8px;
  border-radius: 5px;
} 
.choices__item--selectable {
  cursor: pointer;
}
.choices__item {
  cursor: default;
}
.choices__button {    
  background-color: transparent;
  padding: 0;
  line-height: 1.5;
}
.choices__buttonicon{
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
}
.choices__input {
  font-size: 0.875em;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  border-radius: 0;
  width: 200px;
  margin: 0;
  text-align: center;
}
.choices__input::placeholder{
  color:#000;
}
.crenew__remark__icon{
  color: #007fa3;
  vertical-align: middle;
  line-height: 1.2;
  display: inline-block;
  font-size: 0.875em;
  cursor: pointer;
  padding-bottom: 5px;
  padding-left: 15px;
}
/* Create New Remarks Css End */

/* Remarks Css Start */
.remark__heading{
  color: #000;
  font-weight: 600;
  font-size: 0.875em;
  padding: 15px;
}

.rmk__icon{
  color: #838383;
  font-size: 1.5em;
  line-height: 1.9;
  cursor: pointer;
}

.rmk__icon.active{
  color: #007fa3;
}

.acc__icon{
  color: #007fa3;
  font-size: 1.5em;
  line-height: 1.2;
}

.remarksec__heading{
  color: #000;
  font-weight: 600;
  font-size: 0.875em;
}

.remark__para{
  color: #000;
  font-size: 0.875em;
  padding: 15px 0;
  margin: 15px 0; 
}

.remark__tag{
  color:#007fa3;
  background-color: #ecf5f8;
  font-weight: 600;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 5px;
}

.crenew__formattemp__rowheight .remark__content{
  margin: 15px 0 0;
}

.remark__content{
  background-color: #f2f9fa;
  padding: 5px 20px;
  margin: 15px 0;
  border-radius: 35px;
  font-size: 0.875em;
  font-weight: 600;
  border: none;
  width: 100%;
  display: inline-block;
}
.remark__contentempty{
  padding:15px 20px;
}
.remark__content:disabled, .remark__content[readonly]{
  background-color: #f2f9fa;
}

.remark__content::placeholder{
  color: #000;
}

.card{
  margin-bottom: 10px;
}

.card-header{
  background-color: #ffffff;
  padding:0;
  border-bottom:none;
  border-radius: 0.25rem !important;
}

.remacc__cols{
  border-top:1px solid rgba(0, 0, 0, 0.125);
}

.card-body{
  padding:15px;
}

.duplicate__remarks {
  position: absolute;
  top: 41px;
  right: 50px;
  transform: translate(0, 0);
  padding: 8px;
  color: #444444;
  background-color: #fff;
  font-weight: normal;
  font-size: 0.875em;
  z-index: 99999999;
  box-sizing: border-box;
  width: 100px;
  white-space: normal;
  display: none;
  text-align: left;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.duplicate__remarks:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 5.8%;
  width: 9px;
  height: 9px;
  margin-bottom: -4px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
} 

.duremark__heading{
  color: #404040;
  font-weight: 600;
  font-size: 0.875em;
  padding: 0;
  line-height: 2.2;
}

/* Remarks Css End */

/* Responsive Css Start */
@media (min-width: 576px) and  (max-width: 740px) {
  #remarktab__content{
      margin:30px 0;
  }
}

@media(max-width:900px){
  .choices__list--multiple {
      line-height: 1.9;
  }
}

@media(max-width:768px){
  .crenew__formattemp__select{
      border-left: 1px solid #ccc;
      margin-bottom: 15px;
      margin-left: auto;
  }
  .choices__inner{
      border-right: 1px solid #ced4da;
      width:100%;
  }
  .remarks__format{
      border-right: 1px solid #ced4da;
      width:100% !important;
  }
}
@media(max-width:576px){
  #remarktab__content{
      margin:30px 0;
  }
  .remarks__format{
      border-right: 1px solid #ced4da;
      width:100% !important;
  }
  .remark__para{
      margin: 0;
      line-height: 2.5;
      font-size: 0.688em;
  }
  .remark__tag{
      padding: 5px 9px;
  }
  .remark__content{
      font-size: 0.625em;
      padding: 5px 8px;
      text-overflow: ellipsis;
  }
  .crenew__template__heading{
  padding: 15px 10px;
  white-space: nowrap;
  }
  .createnew__para {
      text-align: left;
  }
  .crenew__remark__icon{
      padding-left: 5px;
  }
  .crenew__template__untitled__btnsave{
      margin:0 5px;
  }
  .crenew__formattemp__select{
      border-left: 1px solid #ccc;
      margin-bottom: 15px;
      margin-left: auto;
  }
  .choices__inner{
      border-right: 1px solid #ced4da;
      width:100%;
      padding: 5px;
  }
  .choices__list--multiple{
      line-height: 2;
  }
  
}

@media(max-width:320px){
  .remark__para{
      font-size: 0.563em;
      line-height: 2.8;
  }
  .remark__tag{
      margin:0;
  }
  .crenew__template__untitled__btnsave{
      margin:0 5px;
      padding: 5px 10px;
  }
  .crenew__template__untitled__btncancel{
      padding: 5px 10px;
  }
  .crenew__template__heading{
  padding: 15px 10px;
      white-space: nowrap;
      font-size: 0.750em;
  }
}
/* Responsive Css End */