.markEntryTab {
    padding-bottom: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 64.8%;
    flex: 0 0 64.8%;
    font-size: 0.938em;
}

.markEntry__notificationheader{
    border: 1px solid #e9e9e9;
    font-size: 0.938em;
    background: #fff;
    padding: 0 0 0 10px;
}

.markEntry__cardviewmorebtn{
    color: unset;
    border: none;
    line-height: 1.5;
    padding: 10px;
}

.markEntry__cardviewmore {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #007fa3;
    font-size: 0.750em;
    line-height: 1.5;
}

.markEntry__icon--add {
    color: #007fa3;
    font-size: 1.250em;
    line-height: 1.5;
    vertical-align: middle;
}


.subjectsTag {
    border: 1px solid #979797;
    border-radius: 30px;
    font-size: 12px;
    padding: 5px 15px;
    margin: 0;
    color: #202020;
    line-height: normal;
    height: 29px;
    font-weight: 600;
}

.unitestLeftArrow {
    margin: 16px 15px 0 15px;
    transform: rotate(180deg);
    width: 7px;
}

.unitTestSection {
    background: #f9f9f9;
    border-left: 1px solid #e3e3e3;
}

.unitTestSection__contentBox {
    border-right: 1px solid #eaeaea;
    padding: 20px 0px 20px 0px;
}

.unitTestSection__contentBox--firstchild{
    padding-left: 25px;
}

.unitTestSection__contentBox--lastchild {
    padding-left: 25px;
}

.unitestHeading {
    color: #000;
    font-weight: 600;
    line-height: 1.5;
    font-size: 0.875em;
}
.unitestHeading__gradescltemp{
    color: #000;
    font-weight: 600;
    line-height: 1.5;
    font-size: 0.938em;
}
.unitestHeading__gradesclprg{
    font-size: 0.875em;
    font-weight: 600;
}
.unitestHeading .unitestHeading__subject{
    color: #000;
    text-overflow: ellipsis;
    /* width: 60%; */
    width: 50%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.unitestHeading .unitestHeading__chapters{
    color: #000;
    width: 77%;
    white-space: nowrap;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    padding: 0px 2px;
}

.unitestHeading--topMargin{
    margin-top: 13px;
}

.unitestHeading span{
    color: #808080;
}

.unitestHeading__chapter{
    float:left;
}

.unitestHeading .unitestHeading__chaptersmark{
    color: #000;
    /* width: 77%; */
    max-width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    padding: 0px 2px;
    float:left;
}

.unitestHeading__chaptersmarkprg {
    font-size: 0.875em;
    font-weight: 600;
}

.unitestHeading small{
    color: #b9b9b9;
}

.unitTestSection__marksInfo {
    margin: 0 25px;
}

.unitTestSection__calendarIcon {
    margin-right: 5px;
    width: 14px;
}
.ButtonTransparent {
    background: transparent;
}
.conductedDate {
    border: 1px solid #e3e3e3;
    background: #e3e3e3;
    border-radius: 30px;
    font-size: 0.875em;
    padding: 5px 15px;
    margin: 0;
    color: #242424;
    line-height: normal;
    height: 29px;
    font-weight: 600;
}


/*Tooltip*/
.dashboard__icon--add{
    color: #bdbdbd;
    font-size: 1.250em;
    line-height: 1.5;
}
.hover {
    position: relative;
}
.popup {
    opacity: 0;
    text-align:left;
    position: absolute;
    top: 80px;
    background: #fafafa;
    border: 2px solid ;
    border-radius: 0px;
    padding: 0 15px;
    overflow: hidden;
}
.hover:hover .popup {
    padding: 15px 15px 15px 15px;
    height: auto;
    width:265px;
    z-index:900;
    opacity: 1;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px #e2e2e2;
}

.hover:hover .total__schools{
    display: block;
}

.AcademicYearWidth{
    width: 180px;
}

.total__schoolslast{
    top: 40px;
    text-align: left;
    left: 1px;
    padding: 10px 20px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    width: 277px;
    white-space: normal;
    margin-left: -150px;
}
.total__schoolslast i{
    position: absolute;
    bottom: 100%;
    right: 45px;
    width: 24px;
    height: 12px;
    overflow: hidden;
    left:unset;
}
.total__schoolslast i::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #fff;
}
.total__schools--gradescale{
    top: 28px;
    left: -28px;
    width: auto;
}

.pointScaleIcon {
    vertical-align: top;
    margin: 2px 0 0 7px;
}

.hover:hover .total__schools {
    display: block;
}
.total__schools .unitestHeading{
    margin-bottom: 10px;
}

.grade__fail--2 {
    background-color: #FF0000;
}

.grade__fail--1 {
    background-color: #FF6347;
}

.grade__poor--2{
    background-color: #d06544;
}

.grade__poor--1{
    background-color: #c24b4b;
}

.grade__average--2{
    background-color: #eea03e;
}

.grade__average--1{
    background-color: #f8bc1c;
}

.garde__well--2{
    background-color: #00BFFF;
}

.garde__well--1{
    background-color: #1E90FF;
}

.garde__highest--2{
    background-color: #86c441;
}

.garde__highest--1{
    background-color: #417505;
}

.garde__colrtd {
    color: #ffffff;
    border: none;
}
.unitestHeading__span{
    position: relative;
}
.unitestHeading__tooltiphover {
    top: 29px;
    left: -19px;
    transform: translate(0, 0);
    padding: 10px 10px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    font-size: 0.913em;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    width: 200px;
    white-space: normal;
}
unitestHeading__tooltiphover i {
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}
.unitestHeading__tooltiphover i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.unitestHeading__chaptersmarkprg {
    font-size: 0.875em;
    font-weight: 600;
    text-align: justify;
}
.unitestHeading__span:hover .unitestHeading__tooltiphover {
        display: block;
}