#studentreportPopup{
    z-index: 10000;
    padding-right: 0 !important;
    overflow: auto;
}

/*.modal-backdrop{
    z-index: 9999;
}*/

#studentreportPopup .modal-dialog {
    max-width: 100%;
    margin: 0 auto;

}

#studentreportPopup .modal-content{
    border-radius: 0;
}

.studentreportPopup__header{
    border: 0;
    background: #075a6f;
    font-size: 0.875em;
    color: #fff;
    border-radius: 0;
    margin: 0 0 20px 0;
}

.studentreportPopup_pdficon{
    width: 16px;
    vertical-align: top;
    margin: 2px 0 0 0;
}

.studentreportPopupIcon__list{
    display: inline-block;
    margin: 0 0 0 30px;
    position: relative;
    cursor: pointer;
}

.studentreportPopupIcon__list a{
    color: #fff;
}

.studentreportPopupIcon__list--lastchild::after {
    position: absolute;
    background: #377585;
    height: 53px;
    width: 2px;
    content: "";
    left: 0;
    top: -16px;
}

.studentreportPopupIcon__list--lastchild {
    padding-left: 26px;
}

.studentreportPopup__bodycontent{
    width: 1120px !important;
    margin: 0 auto;
}

.studentreportbodyicons {
    font-size: 0.875em;
}

.studentreportbodyicons_name{
    color: #fff;
}

.studentreportbodyicons_Icons{
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
}

.studentreportbodyicons_Icons .material-icons{
    line-height: 1.1;
}

.studentreportbodyicons_Icons:focus{
    outline: none;
}

.studentreportbodyPdfContent__img{
    max-width: 100%;
}

.controlDisabled {
    pointer-events: none;
    cursor: default;
}


/*#modal__preview .modal-dialog{*/
    /*max-width: 100%;*/
    /*margin: 0;*/
/*}*/
