/* Left Dashboard Tab Css Start */
.tab__section {
    padding: 15px 20px;
}

.mark__approval__ul{
    background-color: #fff;
    border: 1px solid #e3e3e3;
    height: 100%;
    border-radius: 2px;
}

.mark__approval__li{
    border-bottom: 1px solid #e3e3e3;
}

.mark__approval__li .mark__approval__li--link.active{
    border-left: 2px solid #007fa3;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
}

.mark__approval__li .mark__approval__li--link:hover{
    border-left: 2px solid #007fa3;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
}

.mark__approval__li--link.active{
    color: #007fa3;
}

.mark__approval__li--link:hover{
    color: #007fa3;
}

.mark__approval__li--link{
    color: #838383;
    font-weight: 600;
    font-size: 0.75em;
    float: left;
    padding: 0.5rem 0.5rem;
}

.mark__approval__li--title{
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    float: left;
    padding: 0 0 0.5rem 0.5rem;
}

.mark__approval__tab--icon{
    vertical-align: middle;
    float: right;
    font-size: 1.3em;
    line-height: 1.2;
}

.mark__approval__tab--assessment{
    float: left;
    width: 100%;
    padding: 0.5rem;
    color: #cbcbcb;
}

.mark__approval__tab--imgcn{
    float: left;
    /*background-image: url(../images/calendar.svg);*/
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: 0 3px;
    margin: 0 0.5rem 0.5rem;
    background-size: 16px auto;
}

.mark__approval__tab--date{
    float: left;
    width: 75%;
    line-height: 2.4;
    color: #cbcbcb;
}

.mark__approval__tab--date p{
    float: left;
    font-size: 0.875em;
}

.mark__approval__tab--dateto{
    margin: 0 1rem;
}

.mark__approval__li--link.active .mark__approval__tab--assessment, .mark__approval__li--link.active .mark__approval__tab--date{
    color: #007fa3;
}

.mark__approval__li--link:hover .mark__approval__tab--assessment, .mark__approval__li--link:hover .mark__approval__tab--date{
    color: #007fa3;
}

.mark__approval__li--link.active .mark__approval__tab--imgcn{
    /* background-image: url(../images/calendar-active.svg); */
}

.mark__approval__li--link:hover .mark__approval__tab--imgcn{
    /*background-image: url(../images/calendar-active.svg);*/
}
/* Left Dashboard Tab Css Start */

/* No Exam Selected Start */
.student__rpcardnoexam {
    /*background-image: url(../images/bg__report.png);*/
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 50px;
    margin: 100px 0px;
    text-align: center;
}
.student__rptext {
    font-size: 0.875em;
}
.student__rpcardnoexambox {
    width: 50%;
    margin: auto;
}
.student__rptext--second {
    background-color: #fff;
    display: inline-block;
    padding: 9px 20px;
    border-radius: 50px;
    border: 1px solid #eeeeee;
}
/* No Exam Selected End */

/* Periodic Test Report Heading Start */
.mark__approvalsub {
    border: 1px solid #dee2e6;
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: .5s;
}

.mark__approvalsub--subjheading {
    background-color: #ffffff;
    border-radius: 2px 2px 0 0;
}

.mark__approvalsub--heading {
    color: #888d8d;
    font-size: 0.875em;
    padding: 20px 15px;
    float: left;
}

.mark__approvalsub--para {
    color: #888d8d;
    font-size: 0.875em;
    margin: 0 15px 0 0;
    line-height: 2.4;
}

.mark__approvalsub--number {
    border-radius: 30px;
    background-color: #e3e3e3;
    font-weight: 600;
    padding: 3px 15px;
    font-size: 0.875em;
    margin: 14px 5px;
    float: left;
}

.white-disabled {
    border: 1px solid #c7c7c7;
    background-color: #ffffff;
    color: #c7c7c7;
    font-size: 0.813em;
    border-radius: 2px;
    margin: 0 0 0 15px;
    padding: 5px 10px;
}

.marks--approval__bluebutton {
    border: 1px solid #007fa3;
    background-color: #ffffff;
    color: #0a84a7;
    font-size: 0.813em;
    border-radius: 2px;
    margin: 0 0 0 15px;
    padding: 5px 10px;
    font-weight: bold;
}

.student--report__greybg {
    background-color: #f9f9f9;
}

.student--report__border {
    border: 1px solid #f1f1f1;
}

.student--report__detailstext {
    color: #9e9e9e;
    font-weight: 600;
    font-size: 0.75em;
    margin-bottom: 20px;
}

.student--report__detailstext--2 {
    color: #000;
    font-size: 0.75em;
    margin-bottom: 20px;
}

.student--report__detailstext--link .student--report__detailstext--2{
    color: #007fa3;
}

.student--report__borderleft {
    border-left: 1px solid #f1f1f1;
}

.center-text {
    text-align: center;
}

.display {
    display: inline-block;
}
/* Periodic Test Report Heading End */

/* Periodic Test Report Table Start */
.student__report__table .table{
    margin-bottom:0;
}

.student__report__table th{
    border:none !important;
    height: 60px;
}

.student__report__table th h6 {
    margin-bottom: 0px;
    font-size: 0.875em;
    font-weight: 600;
    color: #474747;
}

.student__report__table th h6 span{
    white-space: nowrap;
}

.sort__icon{
    margin:0 5px;
    cursor: pointer;
}

.student__report__table td h6 {
    margin-bottom: 0px;
    font-size: 0.813em;
    color: #474747;
}

.student__report__table thead th, .student__report__table tbody td{
    vertical-align: middle;
}

.student__content .student__content--name{
    font-weight: normal;
    display: inline-block;
    width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: -3px 0px;
}

.student__report--card{
    font-weight: normal;
    display: inline-block;
    width: 135px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: -2px 0px;
}

.arrow__sort{
    float: right;
    line-height: 0.7;
    cursor: pointer;
    color:#bfbfbf;
}

.student__report__table .roll__call{
    width:65px;
}

.student__report__table .roll__no{
    width:65px;
    line-height: 2.3;
    font-weight:normal;
}

.student__report__table th:nth-child(2){
    /*width: 270px;*/
}

.pdf__icon{
    margin: -2px 4px 0;
}

.student__report__table::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.student__report__table::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}

.student__report__table::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #555;
}

/* Periodic Table Checkbox Start */
.checkbox__table {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox__table input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark__table {
    position: absolute;
    top: -2px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}
.checkbox__table input:checked ~ .checkmark__table:after {
    display: block;
}

.checkbox__table .checkmark__table:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark__table:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox__table input:checked ~ .checkmark__table {
    background-color: #12b2a6;
    border-color: #12b2a6;
    border-radius: 3px;
}

table tbody tr{
    border-left: 3px solid transparent;
}
.student__report__table table tbody tr.highlight{
    background-color: #f6fafc;
    border-left: 3px solid #12b2a6;
}
/* Periodic Table Checkbox End */

/* Tooltip for Student Name And Report Card Start */
.student__content--name:hover .student__contenttooltiphover--name{
    display: block;
}

.student__contenttooltiphover--name {
    text-align: left;
    transform: translate(0, 0);
    padding: 10px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    white-space: normal;
    border-radius: 5px;
    left: 85px;
    top: 105px;
}

.student__contenttooltiphover--name i {
    position: absolute;
    bottom: 100%;
    left: 40%;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.student__contenttooltiphover--name  i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.student__contenttooltiphoverprg{
    font-size: 0.875em;
    font-weight: 600;
}

.student__report--card:hover .student__contenttooltiphover--report{
    display: block;
}

.student__contenttooltiphover--report {
    text-align: left;
    transform: translate(0, 0);
    padding: 10px;
    color: #444444;
    background-color: #fff;
    font-weight: normal;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    white-space: normal;
    border-radius: 5px;
    right: 0px;
    top: 105px;
}

.student__contenttooltiphover--report i {
    position: absolute;
    bottom: 100%;
    right: 30%;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.student__contenttooltiphover--report  i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
/* Tooltip for Student Name And Report Card End */

/* Periodic Test Report Table End */

/* View Report Card Popup Starts */
#studentreportPopup{
    z-index: 10000;
    padding-right: 0 !important;
}

.modal-backdrop{
    z-index: 9999;
}

#studentreportPopup .modal-dialog {
    max-width: 100%;
    margin: 0 auto;

}

#studentreportPopup .modal-content{
    border-radius: 0;
}

.studentreportPopup__header{
    border: 0;
    background: #075a6f;
    font-size: 0.875em;
    color: #fff;
    border-radius: 0;
    margin: 0 0 20px 0;
}

.studentreportPopup_pdficon{
    width: 16px;
    vertical-align: top;
    margin: 2px 0 0 0;
}

.studentreportPopupIcon__list{
    display: inline-block;
    margin: 0 0 0 30px;
    position: relative;
}

.studentreportPopupIcon__list a{
    color: #fff;
}

.studentreportPopupIcon__list--lastchild::after {
    position: absolute;
    background: #377585;
    height: 53px;
    width: 2px;
    content: "";
    left: 0;
    top: -16px;
}

.studentreportPopupIcon__list--lastchild {
    padding-left: 26px;
}

.studentreportPopup__bodycontent{
    width: 850px;
    margin: 0 auto;
}

.studentreportbodyicons {
    font-size: 0.875em;
}

.studentreportbodyicons_name{
    color: #fff;
}

.studentreportbodyicons_Icons{
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    color: #000;
}

.studentreportbodyicons_Icons .material-icons{
    line-height: 1.1;
}

.studentreportbodyicons_Icons:focus{
    outline: none;
}

.studentreportbodyPdfContent__img{
    max-width: 100%;
}
/* View Report Card Popup End */

.student__content {
    display: inline-block;
}
.student__content--name {
    font-weight: normal;
    display: inline-block;
    width: 135px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: -2px 0px;
}

.student__contentpdf--avatar-hide {
    vertical-align: unset;
    display: none;
}
.student__report__table .pdf_image_text {
    display: none;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;

}
.student__content--name1 {
    width: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: inherit;
    display: none;
    color: inherit;
}
.spinner-bg {
    text-align: center;
    margin: auto;
    display: block;
}
@keyframes lds-gear {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-gear {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.lds-gear > div {
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
    -webkit-animation: lds-gear 3.5s infinite linear;
    animation: lds-gear 3.5s infinite linear;
    position: relative;
}
.lds-gear > div div {
    position: absolute;
    width: 26px;
    height: 192px;
    background: #007FA3;
    left: 100px;
    top: 100px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.lds-gear > div div:nth-child(1) {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}
.lds-gear > div div:nth-child(3) {
    -webkit-transform: translate(-50%, -50%) rotate(30deg);
    transform: translate(-50%, -50%) rotate(30deg);
}
.lds-gear > div div:nth-child(4) {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
    transform: translate(-50%, -50%) rotate(60deg);
}
.lds-gear > div div:nth-child(5) {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}
.lds-gear > div div:nth-child(6) {
    -webkit-transform: translate(-50%, -50%) rotate(120deg);
    transform: translate(-50%, -50%) rotate(120deg);
}
.lds-gear > div div:nth-child(7) {
    -webkit-transform: translate(-50%, -50%) rotate(150deg);
    transform: translate(-50%, -50%) rotate(150deg);
}
.lds-gear > div div:nth-child(8) {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
}
.lds-gear {
    width: 62px !important;
    height: 62px !important;
    -webkit-transform: translate(-31px, -31px) scale(0.31) translate(31px, 31px);
    transform: translate(-31px, -31px) scale(0.31) translate(31px, 31px);
}

.disabledCheckBox{
    display:none;
}