/*pearson button all common style start */
.button {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border-radius: 2px;
  padding: 0 12px;
}
.button--small {
  font-size: 0.875em;
  font-weight: 600;
}
.button--large {
  font-size: 1em;
}
.button--primary {
  background: #3b7a9c;
  color: #fff;
  border: 1px solid #3b7a9c;
  line-height: 36px;
  cursor:pointer;
}
.button--primary:hover {
  background: #3b7a9c;
  color: #fff; 
}
.button--grey {
  background: #eaeaea;
  color: #000;
  border: 1px solid #c8c8c8;
  line-height: 36px;
  cursor:pointer;
}
/*pearson button all common style end */