/* Left Dashboard Tab Css Start */
.tab__section {
    padding: 15px 20px;
}

.mark__approval__ul{
    background-color: #fff;
    border: 1px solid #e3e3e3;
    height: 100%;
    border-radius: 2px;
}

.mark__approval__li{
    border-bottom: 1px solid #e3e3e3;
}

.mark__approval__li .mark__approval__li--link.active{
    border-left: 2px solid #007fa3;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
}

.mark__approval__li .mark__approval__li--link:hover{
    border-left: 2px solid #007fa3;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
}

.mark__approval__li--link.active{
    color: #007fa3;
}

.mark__approval__li--link:hover{
    color: #007fa3;
}

.mark__approval__li--link{
    color: #838383;
    font-weight: 600;
    font-size: 0.75em;
    float: left;
    padding: 0.5rem 0.5rem;
}

.mark__approval__li--title{
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    float: left;
    padding: 0 0 0.5rem 0.5rem;
}

.mark__approval__tab--icon{
    vertical-align: middle;
    float: right;
    font-size: 1.3em;
    line-height: 1.2;
}

.mark__approval__tab--assessment{
    float: left;
    width: 100%;
    padding: 0.5rem;
    color: #cbcbcb;
}

.mark__approval__tab--imgcn{
    float: left;
    /*background-image: url(../images/calendar.svg);*/
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: 0 3px;
    margin: 0 0.5rem 0.5rem;
    background-size: 16px auto;
}

.mark__approval__tab--date{
    float: left;
    width: 75%;
    line-height: 2.4;
    color: #cbcbcb;
}

.mark__approval__tab--date p{
    float: left;
    font-size: 0.875em;
}

.mark__approval__tab--dateto{
    margin: 0 1rem;
}

.mark__approval__li--link.active .mark__approval__tab--assessment, .mark__approval__li--link.active .mark__approval__tab--date{
    color: #007fa3;
}

.mark__approval__li--link:hover .mark__approval__tab--assessment, .mark__approval__li--link:hover .mark__approval__tab--date{
    color: #007fa3;
}

.mark__approval__li--link.active .mark__approval__tab--imgcn{
    /*background-image: url(../images/calendar-active.svg);*/
}

.mark__approval__li--link:hover .mark__approval__tab--imgcn{
    /*background-image: url(../images/calendar-active.svg);*/
}
/* Left Dashboard Tab Css Start */



