.markentry__bulkupload__popupvalidation1 {
    width: 25%;
    background: #fff;
    border-left: 3px solid #19a5a3;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 2px;
    padding: 20px 30px;
    position: fixed;
    z-index: 1;
    left: 40%;
    top: 32%;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
    -moz-box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
    box-shadow: 1px 1px 7px 0px rgba(148,139,148,0.75);
  }

  /* Mark Approval For Subjects Tab Conatiner Start */
#nav-tabContent{
  margin:15px 0 0;
}

#nav-tabContent > .active{
  position: relative;
}

.mark__approvalsub{
  border: 1px solid #dee2e6;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #fff;
  transition: .5s;
}
.mark__approvalsub--subjheading{
  background-color: #ffffff;
  border-radius: 2px 2px 0 0;
}

.mark__approvalsub--heading {
  color: #000;
  font-weight: 600;
  font-size: 0.875em;
  padding: 15px;
  float: left;
}

.mark__approvalsub--number{
  border-radius: 30px;
  background-color: #e3e3e3;
  font-weight: 600;
  padding: 3px 15px;
  font-size: 0.875em;
  margin: 9px 0;
  float: left;
}

.mark__approvalsub--lockicon {
  font-size: 1.375em;
  vertical-align: middle;
  padding: 8px 0;
  pointer-events: none;
  margin:0px 10px;
  display: none;
}

.mark__approvalsub--lockicon.updated {
  color: #d0021b;
  display: block;
}

.mark__approvalsub--approve {
  background-color: #fff;
  border-color: #007fa3;
  font-size: 0.875em;
  color: #007fa3;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px 8px;
}

.mark__approvalsub--approve:hover {
  background-color: #007fa3;
  border-color: #007fa3;
  color: #fff;
}

.mark__approvalsub--assessmentcontainer {
  background-color: #007fa3;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  float: left;
  text-align: center;
  margin: 0 0 0 15px;
}

.mark__approvalsub--assessmenticon{
  width: 11px;
  height: 15px;
  object-fit: contain;
  margin: 10px 0;
}

/* Marks Entry Table Css Start */
.markname__table th, .mark__table th, .gradescore__table th, .marksum__name th{ 
  padding: 0.75rem;
}

.markname__table td, .mark__table td, .gradescore__table td, .marksum__name td{
  height: 65px;
  padding: 0 0.75rem;
}

#mark__container .table{
  margin-bottom:0;
}

#mark__container .table thead th, #mark__container .table tbody td{
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}

.markname__table thead th, .markname__table tbody td, .gradescore__table thead th, .gradescore__table tbody td{
  background-color: #ffffff;
}

.markname__table th:first-child{
  width: 300px;
}

.markname__table .markname__table--exam{
  background-color: #fefef8;
}

.arrow__sort{
  float: right;
  line-height: 0.7;
  cursor: pointer;
  color:#bfbfbf;
}

#mark__container .roll__call{
  width:65px;
}

#mark__container .roll__no{
  width:65px;
  line-height: 2.3;
  font-weight:normal;
}

#mark__container h6{
  margin-bottom: 0px;
  font-size: 0.875em;
  font-weight: 600;
}

.student__content .student__content--avatar{
  margin:0 5px 0 0px;
}

.student__content .student__content--name{
  font-weight: normal;
  display: inline-block;
width: 140px;
text-overflow: ellipsis;
white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;
}

.student__content .student__contentck--name{
  font-weight: normal;
  display: inline-block;
width: 140px;
text-overflow: ellipsis;
white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;
}

#mark__container .form-control{
  width: 50px;
  margin: 0 auto;
  font-size: 0.875em;
  padding: 7px 5px;
  border-radius: 0;
  text-align: right;

}

#mark__container .form-control:focus {
  border:1px solid #ced4da;
  box-shadow:none;
}

.markentry__table{
  overflow-x:auto;
}

.markentry__table::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}

.markentry__table::-webkit-scrollbar{
height: 10px;
background-color: #F5F5F5;
}

.markentry__table::-webkit-scrollbar-thumb{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
background-color: #555;
}

.mark__table th, .mark__table td{
  background-color: #f8fbfc;
}

.gradescore__table td .gradescore__table--score{
  padding: 10.5px 0px 10.5px 10.5px;
}

.gradescore__table td .gradescore__table--grade{
  padding: 10.5px;
}

.gradescore__table td .gradescore__table--update{
  font-weight:normal !important;
padding: 10.5px;
text-decoration:underline;
}

.gradescore__table td .gradescore__table--update:hover{
  color:#007fa3;
text-decoration:underline;
}

.bg__warning{
  border:1px solid #f00;
}

#mark__container .form-control.bg__warning:focus {
  border:1px solid #f00;
}

.marksum__name th:nth-child(1){
  width: 275px;
}

.marksum__name .markname__table--exam{
  background-color: #fefef8;
}

.marksum__name--exam label{
  margin: 0;
  display: block;
  line-height: 1;
}

.marksum__table{
  display:none;
}

.gradescore__table--update{
  color:#007fa3;
}

.checkbox__table {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__table input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark__table {
  position: absolute;
  top: -8px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}
.checkbox__table input:checked ~ .checkmark__table:after {
  display: block;
}

.checkbox__table .checkmark__table:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark__table:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__table input:checked ~ .checkmark__table {
  background-color: #12b2a6;
  border-color: #12b2a6;
  border-radius: 3px;
}
.markentry__submitnotapproval {
  background: #fff;
  border: 1px solid #e3e3e3;
  padding: 25px 20px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

/* Marks Entry Table Css End */

/* Class Analysis Box Css start */
#bulk__upload {
  position: relative;
}

.main{
  padding-right: 250px;
}

.classAnalysisbox{
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  transition:ease all 0.2s;
  width: 0;
}
  
.classAnalysisbox.show{
  opacity: 9;
  display: block;
  transition:ease all 0.2s;
  height: 100%;
  border-left:1px solid #e3e3e3;
  width: 250px;
  padding: 15px 10px 0 10px;
}

.classAnalysisbox__bodytext {
  background: #f1f8fa;
  font-size: 0.875em;
  padding: 10px 10px;
  margin: 30px 0 0;
}

.classAnalysisBox__closeicon{
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #999;
  cursor: pointer;
}
  
/* Class Analysis Box Css end */

/* Css For Vertical Graph Starts */
.vsvg {
  width: 100%;
  margin: 0 auto;
}

.vsvg #svg__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.vsvg .svg__content__responsive{
  position: absolute;
  top: 0;
  left: 0;
}

.axis {
  font-size: 26px;
}

.axis path,.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: geometricprecision;
}

.axis--x .domain{
  stroke:#000000;
}

.axis--y .domain{
  stroke:#178394;
  stroke-width: 2px;
}

.grid line {
stroke: #bbe3dc;
stroke-opacity: 1;
shape-rendering: geometricprecision;
}

.grid path {
stroke:#bbe3dc;
}

svg text.label {
  fill: #000;
  font-size: 30px;
  font-weight: 600;
  text-anchor: middle;
}

.xbar__text, .ybar__text{
  font-size: 35px;
  fill: #838383;
  font-weight: 600;
}
/* Css For Vertical Graph Ends */


/* Tooltip for Student Name Start */
.student__contentck--name:hover .student__contenttooltiphoverck--name{
display: block;
}

.student__contenttooltiphoverck--name {
  text-align: left;
  transform: translate(0, 0);
  padding: 10px;
  color: #444444;
  background-color: #fff;
  font-weight: normal;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0,0,0,0.5);
  display: none;
  white-space: normal;
  border-radius: 5px;
  left: 55px;
  top: 88px;
}

.student__contenttooltiphoverck--name i {
  position: absolute;
  bottom: 100%;
  left: 40%;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.student__contenttooltiphoverck--name  i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%,50%) rotate(45deg);
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.student__contenttooltiphoverprg{
font-size: 0.875em;
  font-weight: 600;
}
/* Tooltip for Student Name End */  

/* Mark Approval For Subjects Tab Conatiner End */
  
/* spinner loader start */
.loading__spinner{
  display: none;
   position: fixed;
   z-index: 10000;
   background-color: #fff;
   opacity: 0.7;
   background-repeat: no-repeat;
   background-position: center;
   left: 0;
   bottom: 0;
   right: 0;
   top: 0;
}
.loading__spinnerimg {
       left: 50%;
   position: absolute;
   top: 50%;
}
.loading__spinner.show {
      display: block;
  }
  .mark__approvalsub--approve{
    padding: 5px 8px;
    cursor: pointer;
    background-color: #fff;
    border-color: #007fa3;
    font-size: 0.875em;
    color: #007fa3;
    font-weight: bold;
    border-radius: 2px;
  }
  .mark__approvalsub--approve:disabled {
    background-color: #fff;
    border-color: #007fa3;
    font-size: 0.875em;
    color: #007fa3;
    font-weight: bold;
    border-radius: 2px;
    padding: 5px 8px;
    cursor: not-allowed;
}
/* spinner loader end */

